In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('debenhams orders 10 may.csv', sep=';')
temp2_df = df['Date created'].str.split('-', expand=True)
temp2_df.columns = ['f_', 's_']
temp2_df['f_'] = temp2_df['f_'].str.replace('...', '')
temp2_df['f_'] = temp2_df['f_'].str.lstrip()
temp2_df['f_'] = temp2_df['f_'].str.rstrip()
temp2_df['s_'] = temp2_df['s_'].str.lstrip()
temp2_df['s_'] = temp2_df['s_'].str.rstrip()
df['date'] = temp2_df['f_']
df['time'] = temp2_df['s_']
df['date'] = pd.to_datetime(df['date'])
df['date'] = df['date'].dt.date
df['Channel'] = 'Debenhams'

df['Status'] = df['Status'].replace('Shipped', 'Order Dispatched')
df['Status'] = df['Status'].replace('Shipped', 'Order Dispatched')
df['Status'] = df['Status'].replace('Received', 'Order Dispatched')
df['Status'] = df['Status'].replace('Closed', 'Order Dispatched')
df['Status'] = df['Status'].replace('Refunded', 'Order Refunded')


temp2_df = df['Details'].str.split('(', expand=True)
temp2_df.columns = ['f_', 's_']
temp2_df['f_'] = temp2_df['f_'].str.lstrip()
temp2_df['f_'] = temp2_df['f_'].str.rstrip()
temp2_df['s_'] = temp2_df['s_'].str.lstrip()
temp2_df['s_'] = temp2_df['s_'].str.rstrip()
df['Details'] = temp2_df['f_']

C:\Users\retai\AppData\Local\Temp\ipykernel_8696\206966295.py:1: DtypeWarning: Columns (12) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('debenhams orders 10 may.csv', sep=';')
C:\Users\retai\AppData\Local\Temp\ipykernel_8696\206966295.py:11: UserWarning: Parsing dates in %d/%m/%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df['date'] = pd.to_datetime(df['date'])

In [3]:
df_orig = pd.read_csv('2024_may27_orders fixed_categories.csv')
df_orig['Channel'] = 'Leather Company'

In [4]:
l = ['title', 'line', 'model', 'manufacturer_name', 'attribute_summary', 'colour', 'F_Cat', 'S_Cat', 'T_Cat', 'Category']
dict_title = pd.Series(df_orig.title.values,index=df_orig.reference).to_dict()
dict_line = pd.Series(df_orig.line.values,index=df_orig.reference).to_dict()
dict_model = pd.Series(df_orig.model.values,index=df_orig.reference).to_dict()
dict_manufacturer_name = pd.Series(df_orig.manufacturer_name.values,index=df_orig.reference).to_dict()
dict_attribute_summary = pd.Series(df_orig.attribute_summary.values,index=df_orig.reference).to_dict()
# dict_customs_description = pd.Series(df_orig.customs_description.values,index=df_orig.reference).to_dict()
dict_colour = pd.Series(df_orig.colour.values,index=df_orig.reference).to_dict()
dict_F_Cat = pd.Series(df_orig.F_Cat.values,index=df_orig.reference).to_dict()
dict_S_Cat = pd.Series(df_orig.S_Cat.values,index=df_orig.reference).to_dict()
dict_T_Cat = pd.Series(df_orig.T_Cat.values,index=df_orig.reference).to_dict()
dict_Category = pd.Series(df_orig.Category.values,index=df_orig.reference).to_dict()

In [5]:
df_stock = pd.read_csv('stock_levels_25_mar.csv')
df_feed = pd.read_csv('product_feed.csv')
df_feed.rename(columns={'MPN': 'model', 'REFERENCE': 'reference'}, inplace=True)

dict_title_stock = pd.Series(df_stock.title.values,index=df_stock.reference).to_dict()
dict_attribute_summary_stock = pd.Series(df_stock.attribute_summary.values,index=df_stock.reference).to_dict()
dict_model_stock = pd.Series(df_stock.model.values,index=df_stock.reference).to_dict()
dict_model_feed = pd.Series(df_feed.model.values,index=df_feed.reference).to_dict()

dict_title =  dict_title_stock | dict_title
dict_attribute_summary = dict_attribute_summary_stock | dict_attribute_summary
dict_model = dict_model_feed | dict_model_stock | dict_model

In [6]:
for i in l:
    df[i] = df['Shop SKU']

In [7]:
# df.replace({"title": dict_title}, inplace=True)
# df.replace({"line": dict_line}, inplace=True)
# df.replace({"model": dict_model}, inplace=True)
# df.replace({"manufacturer_name": dict_manufacturer_name}, inplace=True)
# df.replace({"attribute_summary": dict_attribute_summary}, inplace=True)
# df.replace({"customs_description": dict_customs_description}, inplace=True)
# df.replace({"colour": dict_colour}, inplace=True)
# df.replace({"F_Cat": dict_F_Cat}, inplace=True)
# df.replace({"S_Cat": dict_S_Cat}, inplace=True)
# df.replace({"T_Cat": dict_T_Cat}, inplace=True)
# df.replace({"Category": dict_Category}, inplace=True)

df['title'] = df['title'].map(dict_title)
df['line'] = df['line'].map(dict_line)
df['model'] = df['model'].map(dict_model)
df['manufacturer_name'] = df['manufacturer_name'].map(dict_manufacturer_name)
df['attribute_summary'] = df['attribute_summary'].map(dict_attribute_summary)
# df['customs_description'] = df['customs_description'].map(dict_customs_description)
df['colour'] = df['colour'].map(dict_colour)
df['F_Cat'] = df['F_Cat'].map(dict_F_Cat)
df['S_Cat'] = df['S_Cat'].map(dict_S_Cat)
df['T_Cat'] = df['T_Cat'].map(dict_T_Cat)
df['Category'] = df['Category'].map(dict_Category)

df['customs_description'] = df['model']
dict_customs_model = pd.Series(df_orig.customs_description.values,index=df_orig.model).to_dict()
df['customs_description'] = df['customs_description'].map(dict_customs_model)

In [8]:
for i in l:
    print(f'{i}: ', df[i].isnull().sum())

title:  1459
line:  5760
model:  1459
manufacturer_name:  5760
attribute_summary:  1459
colour:  6034
F_Cat:  6355
S_Cat:  6366
T_Cat:  22904
Category:  6366

In [9]:
df.shape

(23137, 80)

In [10]:
df[df['customs_description'].isna()].shape, df[~df['customs_description'].isna()].shape

((3727, 80), (19410, 80))

In [11]:
temp_df = pd.read_csv('product_feed.csv')
temp_df['PRODUCT TYPE'] = temp_df['PRODUCT TYPE'].str.replace('&gt;', '>')
temp_df['PRODUCT TYPE'] = temp_df['PRODUCT TYPE'].str.replace('&amp;', '&')
temp_df['PRODUCT TYPE'] = temp_df['PRODUCT TYPE'].str.replace('&#039;', "'")
temp_df['TITLE'] = temp_df['TITLE'].str.replace('&gt;', '>')
temp_df['TITLE'] = temp_df['TITLE'].str.replace('&amp;', '&')
temp_df['TITLE'] = temp_df['TITLE'].str.replace('&#039;', "'")
temp_df.rename(columns={'TITLE': 'title'}, inplace=True)
temp_stock_df = temp_df['title'].str.split('\(|\)', expand=True).iloc[:,[0,1]]
temp_df['title'] = temp_stock_df[0]
temp_df['title'] = temp_df['title'].str.lstrip()
temp_df['title'] = temp_df['title'].str.rstrip()
temp_df.drop_duplicates(subset=['title'], inplace=True)
temp_df = temp_df[['title', 'PRODUCT TYPE', 'MPN']]
# temp_df['MPN'] = temp_df['MPN'].str.lower()

dict_customs_model_feed= pd.Series(temp_df['PRODUCT TYPE'].values,index=temp_df.MPN).to_dict()

<>:9: SyntaxWarning: invalid escape sequence '\('
<>:9: SyntaxWarning: invalid escape sequence '\('
C:\Users\retai\AppData\Local\Temp\ipykernel_8696\2937461329.py:9: SyntaxWarning: invalid escape sequence '\('
  temp_stock_df = temp_df['title'].str.split('\(|\)', expand=True).iloc[:,[0,1]]

In [12]:
df_null = df[df['customs_description'].isna()]
df_notnull = df[~df['customs_description'].isna()]

df_null[df_null['model'] == 'PEDRO']

Empty DataFrame
Columns: [Date created, Order number, Quantity, Details, Status, Amount, Currency, Shipping method, Customer debit date, Payment workflow, Shop SKU, Reason, Offer SKU, Brand, Offer state, Order line no., Unit price, Shipping price, Shipping total amount, Order fees total amount, Total order amount incl. VAT (including shipping charges), Commission (excluding taxes), Commission value (including taxes), Amount transferred to shop (including taxes), Price additional information, Commission tax rate, Acceptance date, Shipping deadline, Shipping date, Received date, Shipping company, Tracking number, Tracking URL, Shipping address civility, Shipping address email, Shipping address first name, Shipping address last name, Shipping address company, Shipping address street 1, Shipping address street 2, Shipping Address Postcode, Shipping address city, Shipping Address County, Shipping address country, Shipping address phone, Shipping address phone 2, Shipping address additional information, Shipping address internal additional information, Billing address civility, Billing address first name, Billing address last name, Billing address company, Billing address street 1, Billing address street 2, Billing Address Postcode, Billing address city, Billing Address County, Billing address country, Billing address phone, Billing address phone 2, Payment method, Lead time to ship, PickUp DropOff point id, Customer order reference, Shop order reference, Fulfillment center code, date, time, Channel, title, line, model, manufacturer_name, attribute_summary, colour, F_Cat, S_Cat, T_Cat, Category, customs_description]
Index: []

[0 rows x 80 columns]

In [13]:
df.columns

Index(['Date created', 'Order number', 'Quantity', 'Details', 'Status',
       'Amount', 'Currency', 'Shipping method', 'Customer debit date',
       'Payment workflow', 'Shop SKU', 'Reason', 'Offer SKU', 'Brand',
       'Offer state', 'Order line no.', 'Unit price', 'Shipping price',
       'Shipping total amount', 'Order fees total amount',
       'Total order amount incl. VAT (including shipping charges)',
       'Commission (excluding taxes)', 'Commission value (including taxes)',
       'Amount transferred to shop (including taxes)',
       'Price additional information', 'Commission tax rate',
       'Acceptance date', 'Shipping deadline', 'Shipping date',
       'Received date', 'Shipping company', 'Tracking number', 'Tracking URL',
       'Shipping address civility', 'Shipping address email',
       'Shipping address first name', 'Shipping address last name',
       'Shipping address company', 'Shipping address street 1',
       'Shipping address street 2', 'Shipping Address Postcode',
       'Shipping address city', 'Shipping Address County',
       'Shipping address country', 'Shipping address phone',
       'Shipping address phone 2', 'Shipping address additional information',
       'Shipping address internal additional information',
       'Billing address civility', 'Billing address first name',
       'Billing address last name', 'Billing address company',
       'Billing address street 1', 'Billing address street 2',
       'Billing Address Postcode', 'Billing address city',
       'Billing Address County', 'Billing address country',
       'Billing address phone', 'Billing address phone 2', 'Payment method',
       'Lead time to ship', 'PickUp DropOff point id',
       'Customer order reference', 'Shop order reference',
       'Fulfillment center code', 'date', 'time', 'Channel', 'title', 'line',
       'model', 'manufacturer_name', 'attribute_summary', 'colour', 'F_Cat',
       'S_Cat', 'T_Cat', 'Category', 'customs_description'],
      dtype='object')

In [14]:
df[df['Shop SKU'] == '1059000']

Empty DataFrame
Columns: [Date created, Order number, Quantity, Details, Status, Amount, Currency, Shipping method, Customer debit date, Payment workflow, Shop SKU, Reason, Offer SKU, Brand, Offer state, Order line no., Unit price, Shipping price, Shipping total amount, Order fees total amount, Total order amount incl. VAT (including shipping charges), Commission (excluding taxes), Commission value (including taxes), Amount transferred to shop (including taxes), Price additional information, Commission tax rate, Acceptance date, Shipping deadline, Shipping date, Received date, Shipping company, Tracking number, Tracking URL, Shipping address civility, Shipping address email, Shipping address first name, Shipping address last name, Shipping address company, Shipping address street 1, Shipping address street 2, Shipping Address Postcode, Shipping address city, Shipping Address County, Shipping address country, Shipping address phone, Shipping address phone 2, Shipping address additional information, Shipping address internal additional information, Billing address civility, Billing address first name, Billing address last name, Billing address company, Billing address street 1, Billing address street 2, Billing Address Postcode, Billing address city, Billing Address County, Billing address country, Billing address phone, Billing address phone 2, Payment method, Lead time to ship, PickUp DropOff point id, Customer order reference, Shop order reference, Fulfillment center code, date, time, Channel, title, line, model, manufacturer_name, attribute_summary, colour, F_Cat, S_Cat, T_Cat, Category, customs_description]
Index: []

[0 rows x 80 columns]

In [15]:
df_null = df[df['customs_description'].isna()]
df_notnull = df[~df['customs_description'].isna()]

# df_null = df_null.merge(temp_df, on='title', how='left')
# df_null['customs_description_stock'] = df_null['PRODUCT TYPE']
# df_null['customs_description_stock'].fillna(df_null['customs_description'])
# df_null['customs_description'] = df_null['customs_description_stock']
# df_null.drop(['PRODUCT TYPE', 'customs_description_stock','MPN'], axis=1, inplace=True)


df_null['customs_description'] = df_null['model']
df_null['customs_description'] = df_null['customs_description'].map(dict_customs_model_feed)
df = pd.concat([df_notnull, df_null], ignore_index=True)




df2 = df['customs_description'].str.split(' > ', expand=True)
df.drop(['Category', 'F_Cat', 'S_Cat', 'T_Cat'], axis=1, inplace=True)
df2.columns = ['F_Cat', 'S_Cat', 'T_Cat']
df = df.join(df2)
df['Category'] = df['F_Cat'] + ' > ' + df['S_Cat']



# df1_null = df.copy()

# df1_null = df1_null.merge(temp_df, on='title', how='left')
# df1_null['customs_description_stock'] = df1_null['PRODUCT TYPE']
# df1_null.drop(['PRODUCT TYPE'], axis=1, inplace=True)

# df1_null.drop_duplicates(inplace=True)

# df2 = df1_null['customs_description'].str.split(' > ', expand=True)
# df1_null.drop(['Category', 'F_Cat', 'S_Cat', 'T_Cat'], axis=1, inplace=True)
# df2.columns = ['F_Cat', 'S_Cat', 'T_Cat']
# df = df1_null.join(df2)
# df['Category'] = df['F_Cat'] + ' > ' + df['S_Cat']

C:\Users\retai\AppData\Local\Temp\ipykernel_8696\4122981288.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_null['customs_description'] = df_null['model']
C:\Users\retai\AppData\Local\Temp\ipykernel_8696\4122981288.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_null['customs_description'] = df_null['customs_description'].map(dict_customs_model_feed)

In [16]:
for i in l:
    print(f'{i}: ', df[i].isnull().sum())
print(f'customs_description: ', df['customs_description'].isnull().sum())

title:  1459
line:  5760
model:  1459
manufacturer_name:  5760
attribute_summary:  1459
colour:  6034
F_Cat:  1459
S_Cat:  2092
T_Cat:  22668
Category:  2092
customs_description:  1459

In [17]:
df['title'] = df['title'].fillna(df['Details'])
df['attribute_summary'] = df['attribute_summary'].replace(np.NaN, 'Size: (No assigned size)')
df['title'].isnull().sum()

0

In [18]:
df.rename(columns={'Order number': 'order_id', 'Status': 'order_state', 'Date created': 'order_date', 'Amount': 'grand_total_inc',
                    'Shop SKU': 'reference', 'Quantity': 'quantity', 'Unit price': 'price_inc'}, inplace=True)
df.drop(['Details', 'Currency', 'Shipping method', 'Customer debit date',
       'Payment workflow', 'Reason', 'Offer SKU', 'Brand',
       'Offer state', 'Order line no.', 'Shipping price',
       'Shipping total amount',
       'Total order amount incl. VAT (including shipping charges)',
       'Commission (excluding taxes)', 'Commission value (including taxes)',
       'Amount transferred to shop (including taxes)',
       'Price additional information', 'Commission tax rate',
       'Acceptance date', 'Shipping deadline', 'Shipping date',
       'Received date', 'Shipping company', 'Tracking number', 'Tracking URL',
       'Shipping address civility', 'Shipping address email',
       'Shipping address first name', 'Shipping address last name',
       'Shipping address company', 'Shipping address street 1',
       'Shipping address street 2', 'Shipping Address Postcode',
       'Shipping address city', 'Shipping Address County',
       'Shipping address country', 'Shipping address phone',
       'Shipping address phone 2', 'Shipping address additional information',
       'Shipping address internal additional information',
       'Billing address civility', 'Billing address first name',
       'Billing address last name', 'Billing address company',
       'Billing address street 1', 'Billing address street 2',
       'Billing Address Postcode', 'Billing address city',
       'Billing Address County', 'Billing address country',
       'Billing address phone', 'Billing address phone 2', 'Payment method',
       'Lead time to ship', 'PickUp DropOff point id',
       'Customer order reference', 'Shop order reference',
       'Fulfillment center code'], axis=1, inplace=True)
df.columns

Index(['order_date', 'order_id', 'quantity', 'order_state', 'grand_total_inc',
       'reference', 'price_inc', 'Order fees total amount', 'date', 'time',
       'Channel', 'title', 'line', 'model', 'manufacturer_name',
       'attribute_summary', 'colour', 'customs_description', 'F_Cat', 'S_Cat',
       'T_Cat', 'Category'],
      dtype='object')

In [19]:
df_orig = df_orig[['order_date', 'order_id', 'quantity', 'order_state', 'grand_total_inc',
       'reference', 'price_inc', 'date', 'Channel', 'title', 'line', 'model',
       'manufacturer_name', 'attribute_summary', 'customs_description',
       'colour', 'F_Cat', 'S_Cat', 'T_Cat', 'Category']]

In [20]:
p = ['order_state', 'Channel', 'title', 'line', 'model', 'manufacturer_name', 'attribute_summary', 
     'customs_description', 'colour', 'F_Cat', 'S_Cat', 'T_Cat', 'Category', 'order_id']
for i in p:
    df[i] = df[i].astype(str)

df['quantity'] = df['quantity'].astype(int)
df['grand_total_inc'] = df['grand_total_inc'].astype(float)
df['price_inc'] = df['price_inc'].astype(float)

In [21]:
df = pd.concat([df_orig, df], ignore_index=True)
df['date'] = df['date'].astype(str)

In [22]:
df['customs_description'] = df.groupby('model')['customs_description'].transform(lambda v: v.ffill())
df['customs_description'] = df.groupby('model')['customs_description'].transform(lambda v: v.bfill())

In [23]:
df['customs_description'] = df['customs_description'].replace(np.NaN, '(No assigned category)')
df['F_Cat'] = df['F_Cat'].replace(np.NaN, '(No assigned category)')

df['customs_description'] = df['customs_description'].replace('nan', '(No assigned category)')
df['F_Cat'] = df['F_Cat'].replace('nan', '(No assigned category)')

In [24]:
df['price_inc'] = df['price_inc'] * df['quantity']

In [25]:
df.to_csv('All orders.csv', index=False)

In [26]:
temp = pd.read_csv("Deb + LC customs_description - temp.csv")
temp.head()

               customs_description                   changed
0                Ladies > Handbags         Ladies > Handbags
1                January Sale 2021                      Sale
2               Handbags > Ashwood         Ladies > Handbags
3               Mens > Accessories        Mens > Accessories
4  Ladies > Ladies Jackets & Coats  Ladies > Leather Jackets

In [27]:
len(temp['customs_description'].value_counts()), len(temp['changed'].value_counts())

(117, 24)

In [28]:
dict_customs_short = pd.Series(temp.changed.values,index=temp.customs_description).to_dict()
df['customs_description'] = df['customs_description'].map(dict_customs_short)
df['customs_description'] = df['customs_description'].replace(np.NaN, '(No assigned category)')
df['F_Cat'] = df['customs_description']
df['S_Cat'] = np.NaN
df['T_Cat'] = np.NaN

df.to_csv('All orders - short custom description.csv', index=False)