In [23]:
import pandas as pd
import numpy as np

In [24]:
df = pd.read_csv("Fashione AdjustedPricesForLargerSizes.csv", dtype=str)
df.head()

,Brand,Style,Colour,Size,Description,PLU,Cost,Retail,Second,Wholesale,Unnamed: 10
0,AL FRANCO,AL FRANCO,BLACK,XS,criss cross safari,0001727502,70.0,349.0,0.0,100.0,NaN
1,AL FRANCO,AL FRANCO,BLACK,S,criss cross safari,0001727503,70.0,349.0,0.0,100.0,NaN
2,AL FRANCO,AL FRANCO,BLACK,M,criss cross safari,0001727504,70.0,349.0,0.0,100.0,NaN
3,AL FRANCO,AL FRANCO,BLACK,L,criss cross safari,0001727505,70.0,349.0,0.0,100.0,NaN
4,AL FRANCO,AL FRANCO,BLACK,XL,criss cross safari,0001727506,70.0,349.0,0.0,100.0,NaN

In [25]:
len(df.groupby(['Style', 'Colour']))

9434

In [26]:
df = pd.read_csv("Fashione AdjustedPricesForLargerSizes.csv", dtype=str)
df['Size'] = df['Size'].replace('ONE SIZE', '')
df['Size'] = df['Size'].replace(np.NaN, '')
df['Style'] = df['Style'].str.lower()

df['Colour'] = df['Colour'].str.lower()
df['Colour'] = df['Colour'].str.replace('blk', 'black')
# temp_df = df['Colour'].str.split('/', expand=True)
# temp_df.columns = ['F_Colour', 'S_Colour', 'T_Colour', 'Fourth_Colour']
# df['Colour'] = temp_df['F_Colour']

df['Size'] = df['Size'].str.lower()
df['Style-Colour-Size'] = df['Style'] + '-' + df['Colour'] + '-' + df['Size']

# df[df['Style-Colour-Size'] == '1336-brown-']
df[df['Style'] == '401']

,Brand,Style,Colour,Size,Description,PLU,Cost,Retail,Second,Wholesale,Unnamed: 10,Style-Colour-Size
4106,ASHWOOD,401,black,8xl,LADIES GLOVES,0000210513,10.5,29.99,0.0,10.5,NaN,401-black-8xl
4107,ASHWOOD,401,black,9xl,LADIES GLOVES,0000210514,0.0,29.99,0.0,0.0,NaN,401-black-9xl
4108,ASHWOOD,401,black,xxxs,LADIES GLOVES,0000210500,10.5,29.99,0.0,10.5,NaN,401-black-xxxs
4109,ASHWOOD,401,black,xxs,LADIES GLOVES,0000210501,10.5,29.99,0.0,10.5,NaN,401-black-xxs
4110,ASHWOOD,401,black,xs,LADIES GLOVES,0000210502,10.5,29.99,0.0,10.5,NaN,401-black-xs
...,...,...,...,...,...,...,...,...,...,...,...,...
4356,ASHWOOD,401,teal,3xl,LADIES GLOVES,0002898608,10.5,29.99,0.0,10.5,NaN,401-teal-3xl
4357,ASHWOOD,401,teal,4xl,LADIES GLOVES,0002898609,10.5,29.99,0.0,10.5,NaN,401-teal-4xl
4358,ASHWOOD,401,teal,5xl,LADIES GLOVES,0002898610,10.5,29.99,0.0,10.5,NaN,401-teal-5xl
4359,ASHWOOD,401,teal,6xl,LADIES GLOVES,0002898611,10.5,29.99,0.0,10.5,NaN,401-teal-6xl
4360,ASHWOOD,401,teal,7xl,LADIES GLOVES,0002898612,10.5,29.99,0.0,10.5,NaN,401-teal-7xl

In [27]:
df['Style'] = df['Style'].str.lower()
all_styles = df['Style'].unique()
all_styles

array(['al franco', 'nc ana 05', '007', ..., 'ncwo-35', 'sloth',
       'sports gloves'], dtype=object)

In [28]:
barcodes = pd.read_csv("01 All barcodes.csv", skiprows=3, dtype=str)
barcodes.drop_duplicates(keep=False, inplace=True)
print(barcodes.shape)

fixed_gs1 = pd.read_csv("Fixed SKU-EAN.csv", dtype=str)


barcodes = pd.concat([barcodes, fixed_gs1], ignore_index=True)

barcodes.drop_duplicates(subset=['Number'], keep='last', inplace=True)
barcodes.reset_index(drop=True, inplace=True)

barcodes['GS1 Product Name'] = barcodes['Product Name']

barcodes.shape, fixed_gs1.shape

(6000, 10)

((6000, 11), (2131, 10))

In [29]:
barcodes['Product Name'] = barcodes['Product Name'].str.lower()
# barcodes = barcodes.dropna(subset=['Product Name'])
barcodes['Product Name'] = barcodes['Product Name'].replace(np.NaN, '-------')
barcodes['Product Name'] = barcodes['Product Name'].str.replace(',', ' ')
cards = ['6 card', '7 card', '8 card', '9 card', '10 card', '11 card', '12 card', '14 card',
         '16 card', '18 card', '20 card', '22 card', '24 card']
for i in cards:
    barcodes['Product Name'] = barcodes['Product Name'].str.replace(i, ' ')

In [30]:
import matplotlib
list_colours = []

# list_colours = []
colours_df = pd.read_csv('colours.csv')
colours_df['colours'] = colours_df['colours'].str.strip()
for j in colours_df['colours'].unique().tolist():
    list_colours.append(j)

for name, hex in matplotlib.colors.cnames.items():
    name = name.title()
    list_colours.append(name)

for i in list_colours:
    i = i.title()

list_colours = list(dict.fromkeys(list_colours))
list_colours = list(map(lambda x: x.lower(), list_colours))

barcodes['Product Name'] = barcodes['Product Name'].str.replace('blk', 'black')
barcodes['Colour'] = barcodes['Product Name'].str.findall(r'(?i)\b(?:{})\b'.format('|'.join(list_colours))).apply('/'.join)

# df2 = barcodes['Colour'].str.split(',', expand=True)
# barcodes['Colour'] = df2[0]
# barcodes['Colour'] = barcodes['Colour'].replace('', 'NotFound')

In [31]:
barcodes['Style'] = barcodes['Product Name'].str.findall(r'(?i)\b(?:{})\b'.format('|'.join(all_styles)))
barcodes['Style'] = barcodes['Style'].apply(', '.join)
barcodes['Style'] = barcodes['Style'].replace('', 'NotFound')

sizes = [' xs', ' s', ' m', ' l', ' xl', ' 2xl', ' 3xl', ' 4xl', ' 5xl', ' 6xl', ' 7xl', ' 8xl', ' 9xl',
         ' 8', ' 10', ' 12', ' 14', ' 16', ' 18', ' 20', ' 22', ' 24', ' 26', ' 28', ' 30']

# sizes = ['xs', 's', 'm', 'l', 'xl', '2xl', '3xl', '4xl', '5xl', '6xl', '7xl', '8xl', '9xl',
#         '8', '10', '12', '14', '16', '18', '20', '22', '24', '26', '28 ', '30']

barcodes['Size'] = barcodes['Product Name'].str.findall(r'(?i)\b(?:{})\b'.format('|'.join(sizes)))
barcodes['Size'] = barcodes['Size'].apply(', '.join)
barcodes['Style'] = barcodes['Style'].str.lower()
barcodes['Colour'] = barcodes['Colour'].str.lower()
barcodes['Size'] = barcodes['Size'].str.lower()
barcodes['Size'] = barcodes['Size'].str.lstrip()
barcodes['Size'] = barcodes['Size'].str.rstrip()
barcodes['Style-Colour-Size'] = barcodes['Style'] + '-' + barcodes['Colour'] + '-' + barcodes['Size']

In [32]:
barcodes[barcodes['Product Name'] == 'g-17 | navy | size:one size']

,Number,Status,Product Name,Description,Main Brand,Sub Brand,Product Link,MPN,SKU,Updated,GS1 Product Name,Colour,Style,Size,Style-Colour-Size
5995,5061042997319,Active,g-17 | navy | size:one size,g-17 | NAVY | Size:ONE SIZE | Exquisite Ashwoo...,Ashwood,NaN,https://www.leathercompany.co.uk/handbags-c6/c...,NaN,0005148800,14/02/2024 11:53:20,g-17 | NAVY | Size:ONE SIZE,navy,g-17,,g-17-navy-

In [33]:
dict_plu_style = pd.Series(df['PLU'].values,index=df['Style-Colour-Size']).to_dict()
barcodes['PLU'] = barcodes['Style-Colour-Size']
barcodes['PLU'] = barcodes['PLU'].map(dict_plu_style)
barcodes = barcodes.sort_values(by=['PLU', 'Style-Colour-Size'], ascending=[True, True])

In [34]:
barcodes['Product Name'] = barcodes['Product Name'].replace('-------', np.NaN)

In [35]:
barcodes['Product Name'] = barcodes['GS1 Product Name']
barcodes.drop(['GS1 Product Name'], axis=1, inplace=True)

In [36]:
barcodes[barcodes['Product Name'] == 'g-17 | navy | size:one size']

Empty DataFrame
Columns: [Number, Status, Product Name, Description, Main Brand, Sub Brand, Product Link, MPN, SKU, Updated, Colour, Style, Size, Style-Colour-Size, PLU]
Index: []

In [37]:
barcodes.to_csv('Temp_Barcodes_Connect.csv', index=False)

In [38]:
barcodes['PLU'].isnull().sum()

4046

In [62]:
usman1 = pd.read_csv("Ashwood Barcode Document(MENS (UPDATED)).csv", encoding='unicode_escape', dtype=str, skiprows=5)
usman2 = pd.read_csv('Ashwood Barcode Document(Leather Furnishing).csv', encoding='unicode_escape', dtype=str, skiprows=5)
remando = pd.read_excel("STOCK CODE FOR LC.xlsx", dtype=str)
usman1.drop_duplicates(keep=False, inplace=True)
usman2.drop_duplicates(keep=False, inplace=True)
remando.drop_duplicates(keep=False, inplace=True)
remando.dropna(subset=['BAR CODE'], inplace=True)

usman1 = usman1.replace(np.NaN, '')
usman2 = usman2.replace(np.NaN, '')
remando = remando.replace(np.NaN, '')

usman1['Product'] = usman1['Style'].str.rstrip() + ' ' + usman1['Colour'].str.lstrip()
usman2['Product'] = usman2['Style'].str.rstrip() + ' ' + usman2['Colour'].str.lstrip()
remando['Product'] = remando['CODE'].str.replace('.',' ')

In [63]:
usman1['Usman_GS1'] = 'Yes'
usman1.rename(columns={'BARCODE': 'Number'}, inplace=True)
usman1 = usman1[['Number', 'Product', 'Usman_GS1']]

usman2['Usman_GS1'] = 'Yes'
usman2.rename(columns={'BARCODE': 'Number'}, inplace=True)
usman2 = usman2[['Number', 'Product', 'Usman_GS1']]

remando['Usman_GS1'] = 'Yes'
remando.rename(columns={'BAR CODE': 'Number'}, inplace=True)
remando = remando[['Number', 'Product', 'Usman_GS1']]

usman = pd.concat([usman1, usman2, remando], ignore_index=True)
usman.drop_duplicates(keep='last', inplace=True)
usman.dropna(subset=['Number'], inplace=True)
usman['Product'] = usman['Product'].replace({'2 XL': '2XL', '3 XL': '3XL', '4 XL': '4XL', '5 XL': '5XL', '6 XL': '6XL'}, regex=True)

barcodes = pd.merge(barcodes, usman, on='Number', how='left')

In [64]:
usman.drop(columns=['Usman_GS1'], axis=1).to_csv('All Usman Barcodes.csv', index=False)

In [42]:
temp = barcodes[barcodes.duplicated(subset=['PLU'], keep=False)]
temp = temp.dropna(subset=['PLU'])

In [43]:
temp.to_csv('DuplicateSKU-GS1.csv', index=False)

In [44]:
temp['Usman_GS1'].value_counts()

Usman_GS1
Yes    265
Name: count, dtype: int64