In [187]:
import pandas as pd
import numpy as np

In [188]:
df_brands = pd.read_csv("Brands - Fashione.csv", skiprows=1, dtype=str)
df_brands = df_brands[df_brands['Season'] == 'Totals'].reset_index(drop=True)
df_brands['Style'] = df_brands['Brand']
df_brands = df_brands[['Style', 'Brand']]
all_brands = df_brands['Brand'].unique()
df_brands

          Style        Brand
0     AL FRANCO    AL FRANCO
1      ANAPHORA     ANAPHORA
2       ASHWOOD      ASHWOOD
3            B4           B4
4   BEN SHERMAN  BEN SHERMAN
..          ...          ...
69        TIGHA        TIGHA
70      TRAPPER      TRAPPER
71        TRING        TRING
72   VIA VENETO   VIA VENETO
73       winner       winner

[74 rows x 2 columns]

In [189]:
# df = pd.read_csv("All brands - Fashione.csv", skiprows=4, dtype=str)
# df.reset_index(inplace=True)
# df1 = df[((df.dropna(subset=['PLU'])) | (df['PLU'] != 'PLU'))]
# df2 = df[~((df.dropna(subset=['PLU'])) | (df['PLU'] != 'PLU'))]
# df.shape, df1.shape, df2.shape

In [190]:
df = pd.read_csv("All brands - Fashione.csv", skiprows=4, dtype=str)
df.reset_index(inplace=True)
df2 = df[df['PLU'].isnull()]
df1 = df[~df['PLU'].isnull()]
df2 = df2[df2['Style'].isin(all_brands)]
df2 = df2.drop_duplicates(subset=['Style'], keep='last')
df2 = pd.merge(df2, df_brands, how='left', on='Style')
df = pd.concat([df1, df2], ignore_index=True)
df = df.sort_values(by='index')
df = df[df['PLU'] != 'PLU']
df.drop(columns=['index'], axis=1, inplace=True)
df['Brand'] = df['Brand'].bfill()
df = df[~df['PLU'].isnull()].reset_index(drop=True)
df['Units'] = df['Units'].astype(np.int64)

In [191]:
all_stock_brands = df.groupby(['Brand'])['Units'].sum().reset_index()
zero_stock_brands = all_stock_brands[all_stock_brands['Units'] == 0].reset_index(drop=True)
list_zero_stock_brands = list(zero_stock_brands['Brand'].unique())
list_zero_stock_brands.remove("LEATHER COMPANY")

In [192]:
df[df['Brand'].isin(list_zero_stock_brands)][['Style', 'Colour', 'Size', 'Category', 'PLU', 'Unit Cost', 'Units']].to_csv('Delete SKUs with no brand stock.csv', index=False)