In [312]:
import pandas as pd
import numpy as np

In [324]:
df = pd.read_csv('All orders - short custom description.csv', low_memory=False)
df.drop_duplicates(inplace=True)
df.drop(columns=['Category'], inplace=True)
df['customs_description'] = df['customs_description'].astype(str)
df['F_Cat'] = df['F_Cat'].astype(str)
df['quantity'] = df['quantity'].astype(int)
temp_df = df['attribute_summary'].str.split(': ', expand=True)
temp_df.columns = ['F_Size', 'Size']
df['attribute_summary'] = temp_df['Size']

df.rename(columns={'attribute_summary': 'Size', 'model': 'Model', 'customs_description': 'Category'}, inplace=True)

In [325]:
import matplotlib
list_colours = []
for name, hex in matplotlib.colors.cnames.items():
    name = name.title()
    list_colours.append(name)

# list_colours = []
colours_df = pd.read_csv('colours.csv')
colours_df['colours'] = colours_df['colours'].str.strip()
for j in colours_df['colours'].unique().tolist():
    list_colours.append(j)

for i in list_colours:
    i = i.title()

list_colours = list(dict.fromkeys(list_colours))

df['Colour'] = df['title'].str.findall(r'(?i)\b(?:{})\b'.format('|'.join(list_colours))).apply(', '.join)

df2 = df['Colour'].str.split(',', expand=True)
df['Colour'] = df2[0]

In [326]:
orig_df = df.copy()

In [327]:
d1, d2 = '2024-02-01', '2024-02-29'
month_abb = 'Feb'
channel = 'Debenhams'

In [328]:
# df = df[(df['date'] >= d1) & (df['date'] <= d2)]
df = df[df['Channel'] == channel]

In [329]:
list(df[df['quantity'] == 2]['title'])

['Ashwood Zip Top Leather Cross Body Bag Panna Cotta: SB Buckle',
 'Ashwood Zip Top Leather Cross Body Bag Powder Pink: SB Buckle',
 'Ashwood Leather Crossbody Bag Black: 64033',
 'Ashwood Zip Top Leather Cross Body Bag Orange: SB Buckle',
 "Women's Medium Leather Wallet Purse Mandarin: S3",
 'Ashwood Zip Top Leather Cross Body Bag Black: SB Buckle',
 'Ashwood Leather Crossbody Bag Olive: 64033',
 'Ashwood Zip Top Leather Cross Body Bag Yellow: SB Buckle',
 "'XSpirit' Leather Crossbody Bag Bordeaux: 63033/CB4",
 'Ashwood Zip Top Leather Cross Body Bag Orange: SB Buckle',
 'Ashwood Zip Top Leather Cross Body Bag Black: SB Buckle',
 'Ashwood Zip Top Leather Cross Body Bag Camel: SB Buckle',
 '14 Card RFID Protected XL Leather Purse Denim Blue: S2',
 'Ashwood Zip Top Leather Cross Body Bag Aubergine: SB Buckle',
 'Ashwood Leather Crossbody Smart Phone Bag - Black: PH-2',
 'Ashwood Zip Top Leather Cross Body Bag Black: SB Buckle',
 'Ashwood Leather Crossbody Smart Phone Bag - Grey: PH-2',
 'Ashwood Saffiano Leather Tote Handbag Black: 62646 S',
 "'XSpirit' Leather Crossbody Bag Black: 63033/CB4",
 'Ashwood Leather Crossbody Smart Phone Bag - Grey: PH-2',
 'Rosea Flap Over Croc Print Real Leather Shoulder Bag Brandy/croc: MC6',
 'Ashwood Zip Top Leather Cross Body Bag Lily Pad: SB Buckle',
 'Ashwood Leather Crossbody Smart Phone Bag - Brown: PH-2',
 "Women's Medium Leather Wallet Purse Two Tone Tan: S3",
 'Ashwood Leather Crossbody Bag Olive: 64033',
 'Ashwood Zip Top Leather Cross Body Bag Blue: SB Buckle',
 'Tab Small Zip Top Leather Cross Body Bag Navy/Croc',
 'Ashwood Leather Crossbody Smart Phone Bag - Cognac: PH-2',
 "Men's RFID Leather Gift Set French Nappa brown: Pilgrim",
 'Leather Three Section Cross Body Bag Tan: 63789',
 'Ashwood Leather Crossbody Smart Phone Bag - Brown: PH-2',
 'Ashwood Zip Top Leather Cross Body Bag Black: SB Buckle',
 'Ashwood Leather Crossbody Bag Khaki: 64033',
 '6 Card RFID Protected Zip Around Leather Purse Mandarin: S-5',
 'Ashwood Leather Crossbody Smart Phone Bag - Brown: PH-2',
 'Ashwood Leather Crossbody Bag Black: CB-5',
 'Ashwood Zip Top Leather Cross Body Bag Borduex: SB Buckle',
 'Three Section Leather Shoulder Bag Black: 62394',
 'Ashwood Zip Top Leather Cross Body Bag Black: SB Buckle',
 'Ashwood Zip Top Leather Cross Body Bag Black: SB Buckle',
 'Ashwood Zip Top Leather Cross Body Bag Black: SB Buckle',
 'Ashwood Leather Crossbody Smart Phone Bag - Bordeaux: PH-2',
 'Ashwood Leather Crossbody Bag Bordeaux: CB-5',
 'Ashwood Leather Crossbody Bag Navy: CB-5',
 'Ashwood Leather Crossbody Smart Phone Bag - Red: PH-2',
 "Men's RFID Leather Gift Set Miller Brown: Pilgrim",
 "Men's RFID Leather Gift Set Miller Brown: Pilgrim",
 'Ashwood Zip Top Leather Cross Body Bag Black: SB Buckle',
 'Ashwood Zip Top Leather Cross Body Bag Black: SB Buckle',
 "Men's RFID Leather Gift Set Black: Pilgrim",
 'Ashwood Leather Crossbody Bag Khaki: 64033',
 'Ashwood Leather Crossbody Smart Phone Bag - Bordeaux: PH-2',
 "Men's RFID Leather Gift Set Navy: Pilgrim",
 'Ashwood Zip Top Leather Cross Body Bag Black: SB Buckle',
 "Women's Medium Leather Wallet Purse Two Tone Tan: S3",
 "Men's RFID Leather Gift Set Black: Pilgrim",
 'Ashwood Zip Top Leather Cross Body Bag Black: SB Buckle',
 'Ashwood Leather Crossbody Bag Black: CB-5',
 'Ashwood Zip Top Leather Cross Body Bag Black: SB Buckle',
 '14 Card RFID Protected Large Leather Purse Black: S1',
 'Ashwood Zip Top Leather Cross Body Bag Black: SB Buckle',
 'Ashwood Zip Top Leather Cross Body Bag Borduex: SB Buckle',
 "'XSpirit' Leather Crossbody Bag Navy: 63033/CB4",
 'Ashwood Zip Top Leather Cross Body Bag Black: SB Buckle',
 'Ashwood Leather Crossbody Bag Black: 64033',
 'Ashwood Zip Top Leather Cross Body Bag Black: SB Buckle',
 'Ashwood Leather Crossbody Bag Black: 64033',
 'Ashwood Leather Crossbody Bag Bordeaux: CB-5',
 'Ashwood Zip Top Leather Cross Body Bag Black: SB Buckle',
 'Ashwood Leather Crossbody Bag Cotswold Navy: 64033',
 'Ashwood Zip Top Leather Cross Body Bag Ice Grey: SB Buckle',
 "Men's RFID Leather Gift Set Black: Pilgrim",
 'Ashwood Leather Crossbody Bag Black: 64033',
 "Women's Medium Leather Wallet Purse Two Tone Tan: S3",
 'Ashwood Leather Crossbody Bag Deep Lake: 64033',
 'Ashwood Leather Crossbody Bag Navy: CB-5',
 'Ashwood Leather Crossbody Bag Black: CB-5',
 'Ashwood Leather Crossbody Bag Tan: CB-5',
 'Tab Small Zip Top Leather Cross Body Bag Red/Croc',
 "Men's RFID Leather Gift Set Miller Brown: Pilgrim",
 'Ashwood Leather Crossbody Bag Black: 64033',
 'Ashwood Leather Crossbody Bag Rose: 64033',
 'Real Leather Saddle Crossbody Bag Parafin: 63753',
 'Ashwood Leather Crossbody Bag Parafin: 64033',
 "Men's RFID Leather Gift Set Navy: Pilgrim",
 'Ashwood Leather Crossbody Bag Green: CB-5',
 'Ashwood Ladies Leather Tote Bag Wood Rose: J-12',
 'Mens Leather Washbag Chestnut: GB Milo',
 'Ashwood Real Leather Crossbody Bag:Parafin 62879 ',
 'Ashwood Leather Crossbody Bag Black: 64033',
 'Tab Small Zip Top Leather Cross Body Bag Black/Croc',
 'Ashwood Leather Crossbody Bag 2 Tone Tan: 64033',
 '14 Card RFID Protected XL Leather Purse Mandarin: S-4',
 '14 Card RFID Protected XL Leather Purse Black: S-4',
 'Ashwood Zip Top Leather Cross Body Bag Green: SB Buckle',
 "'XSpirit' Leather Crossbody Bag Black: 63033/CB4",
 "'XSpirit' Leather Crossbody Bag Black: 63033/CB4",
 'Ashwood Leather Crossbody Bag Black: 64033',
 'Ashwood Leather Crossbody Bag Parafin: 64033',
 "Men's Leather Gloves Black/grey: GB-525",
 'Ashwood Leather Crossbody Bag Parafin: 64033',
 'Leather Three Section Cross Body Bag Tan: 63789',
 "'XSpirit' Leather Crossbody Bag Black: 63033/CB4",
 "Ashwood Leather Women's Tote Crossbody Bag Black: 64064",
 "Men's Leather Gloves Tan: GB-520",
 'Ashwood Leather Crossbody Bag Cotswold Navy: 64033',
 'Ashwood Leather Crossbody Bag Navy: CB-5',
 'Ashwood Leather Crossbody Bag Rasberry Sorbet: 64033',
 'Tab Small Zip Top Leather Cross Body Bag Bordeaux/Croc',
 "'XSpirit' Leather Crossbody Bag Navy: 63033/CB4",
 "Men's RFID Leather Gift Set Navy: Pilgrim",
 'Ashwood Leather Crossbody Bag Cotswold Navy: 64033',
 "Men's Leather Gloves Black: GB-520",
 "'XSpirit' Leather Crossbody Bag Navy: 63033/CB4",
 'Ashwood Leather Crossbody Bag Cotswold Navy: 64033',
 'Ashwood Leather Crossbody Bag Rose: 64033',
 'Ashwood Leather Crossbody Bag Tan: CB-5',
 'Ashwood Leather Crossbody Bag Black: 64033',
 'Mens Leather Holdall Weekend Bag Chestnut: Calvin',
 'Ashwood Leather Crossbody Bag Black: 64033',
 'Ashwood Leather Crossbody Bag Cotswold Navy: 64033',
 'Ashwood Leather Crossbody Smart Phone Bag - Cognac: PH-2',
 'Tab Small Zip Top Leather Cross Body Bag Black/Croc',
 'Real Leather Top Zip Crossbody Bag 2 Tone Tan: 63931',
 'Ashwood Leather Crossbody Bag Parafin: 64033',
 "'XSpirit' Leather Crossbody Bag Navy: 63033/CB4",
 'Mens Leather Backpack Chestnut: GB Jordan',
 'Ashwood Leather Crossbody Bag Ochre Yellow: 64033',
 'Ashwood Leather Crossbody Bag Tan: CB-5',
 'Ashwood Leather Crossbody Smart Phone Bag - Red: PH-2',
 'Real Leather Top Zip Crossbody Bag 2 Tone Tan: 63931',
 'Ashwood Zip Top Leather Cross Body Bag Ice Grey: SB Buckle',
 'Ashwood Zip Top Leather Cross Body Bag Ice Grey: SB Buckle',
 'Tab Small Zip Top Leather Cross Body Bag Black/Croc',
 'Ashwood Real Leather Crossbody Bag:Black 62879',
 '14 Card RFID Protected XL Leather Purse Two Tone Tan: S2',
 'Ashwood Womens Croc 7 Card Large Leather Purse Green: C-05',
 '6 Card RFID Protected Zip Around Leather Purse Denim: S-5',
 "Ashwood Leather Women's Stylish Tote Bag Black: 64198",
 "Men's RFID Leather Gift Set Navy: Pilgrim",
 'Ashwood Leather Crossbody Bag Black: 64033',
 'Real Leather Saddle Crossbody Bag 2 Tone Tan: 63753',
 'Ashwood Leather Crossbody Bag Black: 64033',
 'Ashwood Leather Crossbody Bag 2 Tone Tan: 64033',
 'Ashwood Leather Crossbody Bag 2 Tone Tan: 64033',
 'Tab Small Zip Top Leather Cross Body Bag Cognac/Croc',
 'Ashwood Leather Crossbody Bag Tan: CB-5',
 'Ashwood Ladies Large Flap Over Leather Shoulder Bag Winter Sky: J-16',
 'Ashwood Leather Crossbody Bag Rasberry Sorbet: 64033',
 'Ashwood Leather Crossbody Bag Sodalite Blue: 64033',
 'Real Leather Saddle Crossbody Bag Rose: 63753',
 'Ashwood Leather Crossbody Smart Phone Bag - Brown: PH-2',
 'Ashwood Leather Crossbody Bag Green: CB-5',
 'Gabicci Leather 6 Card Billfold Wallet Tan: GB-804',
 'Ashwood Leather Crossbody Bag Tan: CB-5',
 'Ashwood Leather Crossbody Bag 2 Tone Tan: 64033',
 'Ashwood Real Leather Flapover Backpack Cotswold Navy: 64257',
 'Ashwood Leather Crossbody Smart Phone Bag - Red: PH-2',
 'Ashwood Leather Crossbody Smart Phone Bag - Cognac: PH-2',
 'Ashwood Zip Top Leather Cross Body Bag Black: SB Buckle',
 'Ashwood Zip Top Leather Cross Body Bag Royal Blue: SB Buckle',
 'Ashwood Zip Top Leather Cross Body Bag Green: SB Buckle',
 'Ashwood Leather Crossbody Bag Black: 64033',
 'Ashwood Leather Crossbody Bag Ice Grey: 64033',
 'Ashwood Leather Crossbody Bag Cotswold Navy: 64033',
 'Ashwood Leather Crossbody Bag Rose: 64033',
 'Ashwood Leather Crossbody Bag 2 Tone Tan: 64033',
 'Ashwood Leather Crossbody Bag Cotswold Navy: 64033',
 'Ashwood Leather Crossbody Bag Black: 64033',
 'Ashwood Leather Crossbody Bag Ochre Yellow: 64033',
 'Real Leather Tote Bag Rose: 63754',
 'Ashwood Leather Crossbody Smart Phone Bag - Red: PH-2',
 'Tab Small Zip Top Leather Cross Body Bag Burgundy/Croc',
 'Ashwood Zip Top Leather Cross Body Bag Green: SB Buckle',
 "Men's RFID Leather Gift Set Navy: Pilgrim",
 'Leather Three Section Cross Body Bag Tan: 63789',
 '7 Card RFID Protected Large Leather Purse Wood Rose: J-52',
 "Ashwood Leather Women's Tote Crossbody Bag Cotwold Navy: 64064",
 "Women's Leather Shoulder Handbag Black: 63786",
 'Ashwood Leather Crossbody Smart Phone Bag - Red: PH-2',
 'Ashwood Leather Crossbody Bag Black: CB-5',
 'Vintage Woven Leather Medium 18 Card Purse Black :  D-83',
 'Ashwood Leather Crossbody Smart Phone Bag - Bordeaux: PH-2',
 'Mens Leather Washbag Black: GB Milo',
 'Ashwood 4 Card Zip Around Suede and Leather Purse Tan: S-20',
 "Women's Leather Shoulder Handbag Black: 63786",
 "Men's Leather Gloves Black: GB-530",
 'Ashwood Leather Crossbody Bag Cotswold Navy: 64033',
 'Ashwood Real Leather Hobo Shoulder Bag 2 Tone Tan: 64203',
 'Ashwood Leather Crossbody Smart Phone Bag - Brown: PH-2',
 'Real Leather Saddle Crossbody Bag Black: 63753',
 'Ashwood Leather Crossbody Bag Parafin: 64033',
 "'Heaven' Real Leather Cross Body Bag",
 "'Heaven' Real Leather Cross Body Bag",
 "'Heaven' Real Leather Cross Body Bag",
 "'XSpirit' Real Leather Crossbody Bag",
 "'Heaven' Real Leather Cross Body Bag",
 "'Heaven' Real Leather Cross Body Bag",
 'Large Real Leather Shoulder Bag Black/tan: 62835',
 'Large Real Leather Shoulder Bag Black/tan: 62835',
 "'XSpirit' Real Leather Crossbody Bag",
 "'XSpirit' Real Leather Crossbody Bag",
 "'XSpirit' Real Leather Crossbody Bag",
 'Ashwood Real Leather Flapover Crossbody Bag Cotswold Navy: 64295',
 "Women's Leather Shoulder Handbag Tan: 63787",
 'Crocodile Print Cross Body Bag Blush – 62753',
 "'Pretty' Croc Embossed Leather Shoulder Bag",
 'Real Leather Flapover Quilted Bag Black: 63858']

In [276]:
df = df[(df['Category'] == 'Ladies > Leather Jackets')]
df = df[df['Model'] != '5 pads set']

temp_dispatched = df[(df['order_state'] == 'Order Dispatched') | (df['order_state'] == 'Order Refunded')]
temp_dispatched_2 = df[(df['order_state'] == 'Order Dispatched') | (df['order_state'] == 'Order Refunded')]

df_fix_refunds = df[(df['order_state'] == 'Order Dispatched') | (df['order_state'] == 'Order Refunded')]
df_fix_refunds = df_fix_refunds.sort_values(by='order_state')
df_fix_refunds.drop_duplicates(subset=['order_id'], keep='first', inplace=True)
temp_refunded = df_fix_refunds[df_fix_refunds['order_state'] == 'Order Refunded']
temp_refunded_2 = df_fix_refunds[df_fix_refunds['order_state'] == 'Order Refunded']

df['Model'] = df['Model'].fillna("(No assigned category)")
df['Colour'] = df['Colour'].fillna("(No assigned colour)")
df['Size'] = df['Size'].fillna("(No assigned size)")

temp_dispatched = temp_dispatched[['Category', 'Model', 'Colour', 'Size', 'quantity']]
temp_dispatched = temp_dispatched.groupby(['Category', 'Model', 'Colour', 'Size'])['quantity'].sum()
temp_dispatched = temp_dispatched.unstack(level=['Colour', 'Size'])
temp_dispatched = temp_dispatched.assign(Total=temp_dispatched.sum(1, min_count=2))
temp_dispatched = temp_dispatched.stack(level=['Colour', 'Size'], sort=False)
# temp_dispatched = temp_dispatched.unstack(level=['Size'])
# temp_dispatched = temp_dispatched.assign(Total=temp_dispatched.sum(1, min_count=2))
# temp_dispatched = temp_dispatched.stack(level=['Size'])
temp_dispatched = temp_dispatched.to_frame(name='quantity')
temp_dispatched.rename(columns={'quantity': 'Units Sold'}, inplace=True)

temp_dispatched_2 = temp_dispatched_2[['Category', 'Model', 'Colour', 'Size', 'price_inc']]
temp_dispatched_2 = temp_dispatched_2.groupby(['Category', 'Model', 'Colour', 'Size'])['price_inc'].sum()
temp_dispatched_2 = temp_dispatched_2.unstack(level=['Colour', 'Size'])
temp_dispatched_2 = temp_dispatched_2.assign(Total=temp_dispatched_2.sum(1, min_count=2))
temp_dispatched_2 = temp_dispatched_2.stack(level=['Colour', 'Size'], sort=False)
# temp_dispatched_2 = temp_dispatched_2.unstack(level=['Size'])
# temp_dispatched_2 = temp_dispatched_2.assign(Total=temp_dispatched_2.sum(1, min_count=2))
# temp_dispatched_2 = temp_dispatched_2.stack(level=['Size'], sort=False)
temp_dispatched_2 = temp_dispatched_2.to_frame(name='price_inc')
temp_dispatched_2.rename(columns={'price_inc': 'Total Revenue (£)'}, inplace=True)

temp_dispatched = pd.concat([temp_dispatched, temp_dispatched_2], axis=1)



temp_refunded = temp_refunded[['Category', 'Model', 'Colour', 'Size', 'quantity']]
temp_refunded = temp_refunded.groupby(['Category', 'Model', 'Colour', 'Size'])['quantity'].sum()
temp_refunded = temp_refunded.unstack(level=['Colour', 'Size'])
temp_refunded = temp_refunded.assign(Total=temp_refunded.sum(1, min_count=2))
temp_refunded = temp_refunded.stack(level=['Colour', 'Size'], sort=False)
# temp_refunded = temp_refunded.unstack(level=['Size'])
# temp_refunded = temp_refunded.assign(Total=temp_refunded.sum(1, min_count=2))
# temp_refunded = temp_refunded.stack(level=['Size'])
temp_refunded = temp_refunded.to_frame(name='quantity')
temp_refunded.rename(columns={'quantity': 'Units Refunded'}, inplace=True)

temp_refunded_2 = temp_refunded_2[['Category', 'Model', 'Colour', 'Size', 'price_inc']]
temp_refunded_2 = temp_refunded_2.groupby(['Category', 'Model', 'Colour', 'Size'])['price_inc'].sum()
temp_refunded_2 = temp_refunded_2.unstack(level=['Colour', 'Size'])
temp_refunded_2 = temp_refunded_2.assign(Total=temp_refunded_2.sum(1, min_count=2))
temp_refunded_2 = temp_refunded_2.stack(level=['Colour', 'Size'], sort=False)
# temp_refunded_2 = temp_refunded_2.unstack(level=['Size'])
# temp_refunded_2 = temp_refunded_2.assign(Total=temp_refunded_2.sum(1, min_count=2))
# temp_refunded_2 = temp_refunded_2.stack(level=['Size'])
temp_refunded_2 = temp_refunded_2.to_frame(name='price_inc')
temp_refunded_2.rename(columns={'price_inc': 'Total Refund (£)'}, inplace=True)

temp_refunded = pd.concat([temp_refunded, temp_refunded_2], axis=1)

temp_ladies = pd.concat([temp_dispatched, temp_refunded], axis=1)

temp_ladies = temp_ladies[['Units Sold', 'Total Revenue (£)', 'Units Refunded', 'Total Refund (£)']]
temp_ladies['Units Sold'] = temp_ladies['Units Sold'].fillna(0)
temp_ladies['Total Revenue (£)'] = temp_ladies['Total Revenue (£)'].fillna(0)
temp_ladies['Units Refunded'] = temp_ladies['Units Refunded'].fillna(0)
temp_ladies['Total Refund (£)'] = temp_ladies['Total Refund (£)'].fillna(0)

df_total_sold = df[(df['order_state'] == 'Order Dispatched') | (df['order_state'] == 'Order Refunded')]

if channel == 'Leather Company':
    df_total_refund = df[df['order_state'] == 'Order Refunded']
    total_list = [df_total_sold['quantity'].sum(), df_total_sold['price_inc'].sum(),
                df_total_refund['quantity'].sum(), df_total_refund['price_inc'].sum()]

elif channel == 'Debenhams':
    df_fix_total_refunds = df[(df['order_state'] == 'Order Dispatched') | (df['order_state'] == 'Order Refunded')]
    df_fix_total_refunds = df_fix_total_refunds.sort_values(by='order_state')
    df_fix_total_refunds.drop_duplicates(subset=['order_id'], keep='first', inplace=True)
    df_fix_total_refunds = df_fix_total_refunds[df_fix_total_refunds['order_state'] == 'Order Refunded']
    total_list = [df_total_sold['quantity'].sum(), df_total_sold['price_inc'].sum(),
                df_fix_total_refunds['quantity'].sum(), df_fix_total_refunds['price_inc'].sum()]
temp_ladies.loc['Total', :] = total_list

temp_ladies['Final Revenue (£)'] = temp_ladies['Total Revenue (£)'] - temp_ladies['Total Refund (£)']

temp_ladies['Units Sold'] = temp_ladies['Units Sold'].astype(int)
temp_ladies['Units Refunded'] = temp_ladies['Units Refunded'].astype(int)
temp_ladies['Total Revenue (£)'] = temp_ladies['Total Revenue (£)'].astype(int)
temp_ladies['Total Refund (£)'] = temp_ladies['Total Refund (£)'].astype(int)
temp_ladies['Final Revenue (£)'] = temp_ladies['Final Revenue (£)'].astype(int)

In [277]:
temp_ladies

                                                   Units Sold  \
Category                 Model      Colour   Size
Ladies > Leather Jackets 2810       Black    14             3
                                             16             1
                                             18             2
                                    Coffee   10             2
                                             12             1
                                    Total                   9
                         AWL-281    Black    14             1
                                             18             1
                                    Burgandy 22             1
                                    Grey     12             1
                                    Navy     14             1
                                             12             1
                                             22             1
                                    Tan      12             1
                                    Total                   8
                         MB139      Black    10             1
                                             12             1
                                    Tan      12             1
                                    Burgundy 16             1
                                             12             1
                                    Red      10             1
                                             12             1
                                             8              2
                                    Total                   9
                         awl-1201   Black    10             1
                                    Blue     14             1
                                             18             1
                                             12             2
                                             22             1
                                    Total                   6
                         awl-284    Navy     14             1
                                             12             1
                                    Tan      14             1
                                             12             1
                                    Oxblood  14             2
                                    Taupe    14             1
                                             16             1
                                             8              1
                                    Total                   9
                         awl-blazer Black    14             1
                                             18             1
                                    Tan      10             1
                                             12             1
                                    Taupe    12             1
                                    Total                   5
                         awl-n30    Black    22             1
                                    Tan      14             1
                                             16             1
                                             10             2
                                             12             2
                                    Total                   7
Total                                                      53

                                                   Total Revenue (£)  \
Category                 Model      Colour   Size
Ladies > Leather Jackets 2810       Black    14                  207
                                             16                   69
                                             18                  138
                                    Coffee   10                  138
                                             12                   69
                                    Total                        621
                         AWL-281    Black    14                  152
                                             18                  152
                                    Burgandy 22                  174
                                    Grey     12                  169
                                    Navy     14                  169
                                             12                  169
                                             22                  193
                                    Tan      12                  169
                                    Total                       1354
                         MB139      Black    10                  169
                                             12                  152
                                    Tan      12                  152
                                    Burgundy 16                  152
                                             12                  152
                                    Red      10                  169
                                             12                  152
                                             8                   339
                                    Total                       1444
                         awl-1201   Black    10                  129
                                    Blue     14                   99
                                             18                  116
                                             12                  258
                                             22                  129
                                    Total                        731
                         awl-284    Navy     14                  134
                                             12                  134
                                    Tan      14                  134
                                             12                  134
                                    Oxblood  14                  283
                                    Taupe    14                  149
                                             16                  149
                                             8                   134
                                    Total                       1251
                         awl-blazer Black    14                  139
                                             18                  125
                                    Tan      10                  125
                                             12                  125
                                    Taupe    12                  139
                                    Total                        653
                         awl-n30    Black    22                  143
                                    Tan      14                  139
                                             16                  139
                                             10                  250
                                             12                  264
                                    Total                        935
Total                                                           6991

                                                   Units Refunded  \
Category                 Model      Colour   Size
Ladies > Leather Jackets 2810       Black    14                 2
                                             16                 0
                                             18                 2
                                    Coffee   10                 0
                                             12                 1
                                    Total                       5
                         AWL-281    Black    14                 1
                                             18                 1
                                    Burgandy 22                 0
                                    Grey     12                 1
                                    Navy     14                 0
                                             12                 0
                                             22                 0
                                    Tan      12                 1
                                    Total                       4
                         MB139      Black    10                 1
                                             12                 1
                                    Tan      12                 0
                                    Burgundy 16                 0
                                             12                 0
                                    Red      10                 1
                                             12                 0
                                             8                  1
                                    Total                       4
                         awl-1201   Black    10                 1
                                    Blue     14                 1
                                             18                 0
                                             12                 2
                                             22                 1
                                    Total                       5
                         awl-284    Navy     14                 1
                                             12                 0
                                    Tan      14                 1
                                             12                 1
                                    Oxblood  14                 1
                                    Taupe    14                 0
                                             16                 0
                                             8                  0
                                    Total                       4
                         awl-blazer Black    14                 0
                                             18                 0
                                    Tan      10                 0
                                             12                 1
                                    Taupe    12                 0
                                    Total                       0
                         awl-n30    Black    22                 0
                                    Tan      14                 0
                                             16                 0
                                             10                 1
                                             12                 1
                                    Total                       2
Total                                                          25

                                                   Total Refund (£)  \
Category                 Model      Colour   Size
Ladies > Leather Jackets 2810       Black    14                 138
                                             16                   0
                                             18                 138
                                    Coffee   10                   0
                                             12                  69
                                    Total                       345
                         AWL-281    Black    14                 152
                                             18                 152
                                    Burgandy 22                   0
                                    Grey     12                 169
                                    Navy     14                   0
                                             12                   0
                                             22                   0
                                    Tan      12                 169
                                    Total                       645
                         MB139      Black    10                 169
                                             12                 152
                                    Tan      12                   0
                                    Burgundy 16                   0
                                             12                   0
                                    Red      10                 169
                                             12                   0
                                             8                  169
                                    Total                       662
                         awl-1201   Black    10                 129
                                    Blue     14                  99
                                             18                   0
                                             12                 258
                                             22                 129
                                    Total                       615
                         awl-284    Navy     14                 134
                                             12                   0
                                    Tan      14                 134
                                             12                 134
                                    Oxblood  14                 149
                                    Taupe    14                   0
                                             16                   0
                                             8                    0
                                    Total                       551
                         awl-blazer Black    14                   0
                                             18                   0
                                    Tan      10                   0
                                             12                 125
                                    Taupe    12                   0
                                    Total                         0
                         awl-n30    Black    22                   0
                                    Tan      14                   0
                                             16                   0
                                             10                 125
                                             12                 139
                                    Total                       264
Total                                                          3209

                                                   Final Revenue (£)
Category                 Model      Colour   Size
Ladies > Leather Jackets 2810       Black    14                   69
                                             16                   69
                                             18                    0
                                    Coffee   10                  138
                                             12                    0
                                    Total                        276
                         AWL-281    Black    14                    0
                                             18                    0
                                    Burgandy 22                  174
                                    Grey     12                    0
                                    Navy     14                  169
                                             12                  169
                                             22                  193
                                    Tan      12                    0
                                    Total                        708
                         MB139      Black    10                    0
                                             12                    0
                                    Tan      12                  152
                                    Burgundy 16                  152
                                             12                  152
                                    Red      10                    0
                                             12                  152
                                             8                   169
                                    Total                        781
                         awl-1201   Black    10                    0
                                    Blue     14                    0
                                             18                  116
                                             12                    0
                                             22                    0
                                    Total                        116
                         awl-284    Navy     14                    0
                                             12                  134
                                    Tan      14                    0
                                             12                    0
                                    Oxblood  14                  134
                                    Taupe    14                  149
                                             16                  149
                                             8                   134
                                    Total                        700
                         awl-blazer Black    14                  139
                                             18                  125
                                    Tan      10                  125
                                             12                    0
                                    Taupe    12                  139
                                    Total                        653
                         awl-n30    Black    22                  143
                                    Tan      14                  139
                                             16                  139
                                             10                  125
                                             12                  125
                                    Total                        671
Total                                                           3782

In [278]:
# df = df[(df['customs_description'] == 'Ladies > Leather Jackets')]
# df = df[df['model'] != '5 pads set']

# temp_dispatched = df[(df['order_state'] == 'Order Dispatched') | (df['order_state'] == 'Order Refunded')]
# temp_refunded = df[df['order_state'] == 'Order Refunded']

# df['model'] = df['model'].fillna("(No assigned category)")
# df['colour'] = df['colour'].fillna("(No assigned colour)")
# df['attribute_summary'] = df['attribute_summary'].fillna("(No assigned size)")

# temp_dispatched = temp_dispatched.groupby(['customs_description', 'model', 'colour', 'attribute_summary']).sum()
# temp_dispatched.rename(columns={'quantity': 'Units Sold', 'price_inc': 'Total Revenue (£)'}, inplace=True)

# temp_refunded = temp_refunded.groupby(['customs_description', 'model', 'colour', 'attribute_summary']).sum()
# temp_refunded.rename(columns={'quantity': 'Units Refunded', 'price_inc': 'Total Refund (£)'}, inplace=True)

# temp_ladies = pd.concat([temp_dispatched, temp_refunded], axis=1)
# temp_ladies = temp_ladies[['Units Sold', 'Total Revenue (£)', 'Units Refunded', 'Total Refund (£)']]
# temp_ladies['Units Sold'] = temp_ladies['Units Sold'].fillna(0)
# temp_ladies['Total Revenue (£)'] = temp_ladies['Total Revenue (£)'].fillna(0)
# temp_ladies['Units Refunded'] = temp_ladies['Units Refunded'].fillna(0)
# temp_ladies['Total Refund (£)'] = temp_ladies['Total Refund (£)'].fillna(0)
# temp_ladies['Final Revenue (£)'] = temp_ladies['Total Revenue (£)'] - temp_ladies['Total Refund (£)']
# temp_ladies.loc['Total', :] = temp_ladies.sum(numeric_only=True).values
# temp_ladies['Units Sold'] = temp_ladies['Units Sold'].astype(int)
# temp_ladies['Units Refunded'] = temp_ladies['Units Refunded'].astype(int)
# temp_ladies['Total Revenue (£)'] = temp_ladies['Total Revenue (£)'].astype(int)
# temp_ladies['Total Refund (£)'] = temp_ladies['Total Refund (£)'].astype(int)
# temp_ladies['Final Revenue (£)'] = temp_ladies['Final Revenue (£)'].astype(int)

In [279]:
df = orig_df[(orig_df['date'] >= d1) & (orig_df['date'] <= d2)]
df = df[df['Channel'] == channel]

In [280]:
df = df[(df['Category'] == 'Mens > Leather Jackets')]

temp_dispatched = df[(df['order_state'] == 'Order Dispatched') | (df['order_state'] == 'Order Refunded')]
temp_dispatched_2 = df[(df['order_state'] == 'Order Dispatched') | (df['order_state'] == 'Order Refunded')]

if channel == 'Leather Company':
    temp_refunded = df[df['order_state'] == 'Order Refunded']
    temp_refunded_2 = df[df['order_state'] == 'Order Refunded']

elif channel == 'Debenhams':
    df_fix_refunds = df[(df['order_state'] == 'Order Dispatched') | (df['order_state'] == 'Order Refunded')]
    df_fix_refunds = df_fix_refunds.sort_values(by='order_state')
    df_fix_refunds.drop_duplicates(subset=['order_id'], keep='first', inplace=True)
    temp_refunded = df_fix_refunds[df_fix_refunds['order_state'] == 'Order Refunded']
    temp_refunded_2 = df_fix_refunds[df_fix_refunds['order_state'] == 'Order Refunded']

df['Model'] = df['Model'].fillna("(No assigned category)")
df['Colour'] = df['Colour'].fillna("(No assigned colour)")
df['Size'] = df['Size'].fillna("(No assigned size)")

temp_dispatched = temp_dispatched[['Category', 'Model', 'Colour', 'Size', 'quantity']]
temp_dispatched = temp_dispatched.groupby(['Category', 'Model', 'Colour', 'Size'])['quantity'].sum()
temp_dispatched = temp_dispatched.unstack(level=['Colour', 'Size'])
temp_dispatched = temp_dispatched.assign(Total=temp_dispatched.sum(1, min_count=2))
temp_dispatched = temp_dispatched.stack(level=['Colour', 'Size'], sort=False)
# temp_dispatched = temp_dispatched.unstack(level=['Size'])
# temp_dispatched = temp_dispatched.assign(Total=temp_dispatched.sum(1, min_count=2))
# temp_dispatched = temp_dispatched.stack(level=['Size'])
temp_dispatched = temp_dispatched.to_frame(name='quantity')
temp_dispatched.rename(columns={'quantity': 'Units Sold'}, inplace=True)

temp_dispatched_2 = temp_dispatched_2[['Category', 'Model', 'Colour', 'Size', 'price_inc']]
temp_dispatched_2 = temp_dispatched_2.groupby(['Category', 'Model', 'Colour', 'Size'])['price_inc'].sum()
temp_dispatched_2 = temp_dispatched_2.unstack(level=['Colour', 'Size'])
temp_dispatched_2 = temp_dispatched_2.assign(Total=temp_dispatched_2.sum(1, min_count=2))
temp_dispatched_2 = temp_dispatched_2.stack(level=['Colour', 'Size'], sort=False)
# temp_dispatched_2 = temp_dispatched_2.unstack(level=['Size'])
# temp_dispatched_2 = temp_dispatched_2.assign(Total=temp_dispatched_2.sum(1, min_count=2))
# temp_dispatched_2 = temp_dispatched_2.stack(level=['Size'])
temp_dispatched_2 = temp_dispatched_2.to_frame(name='price_inc')
temp_dispatched_2.rename(columns={'price_inc': 'Total Revenue (£)'}, inplace=True)

temp_dispatched = pd.concat([temp_dispatched, temp_dispatched_2], axis=1)



temp_refunded = temp_refunded[['Category', 'Model', 'Colour', 'Size', 'quantity']]
temp_refunded = temp_refunded.groupby(['Category', 'Model', 'Colour', 'Size'])['quantity'].sum()
temp_refunded = temp_refunded.unstack(level=['Colour', 'Size'])
temp_refunded = temp_refunded.assign(Total=temp_refunded.sum(1, min_count=2))
temp_refunded = temp_refunded.stack(level=['Colour', 'Size'], sort=False)
# temp_refunded = temp_refunded.unstack(level=['Size'])
# temp_refunded = temp_refunded.assign(Total=temp_refunded.sum(1, min_count=2))
# temp_refunded = temp_refunded.stack(level=['Size'])
temp_refunded = temp_refunded.to_frame(name='quantity')
temp_refunded.rename(columns={'quantity': 'Units Refunded'}, inplace=True)

temp_refunded_2 = temp_refunded_2[['Category', 'Model', 'Colour', 'Size', 'price_inc']]
temp_refunded_2 = temp_refunded_2.groupby(['Category', 'Model', 'Colour', 'Size'])['price_inc'].sum()
temp_refunded_2 = temp_refunded_2.unstack(level=['Colour', 'Size'])
temp_refunded_2 = temp_refunded_2.assign(Total=temp_refunded_2.sum(1, min_count=2))
temp_refunded_2 = temp_refunded_2.stack(level=['Colour', 'Size'], sort=False)
# temp_refunded_2 = temp_refunded_2.unstack(level=['Size'])
# temp_refunded_2 = temp_refunded_2.assign(Total=temp_refunded_2.sum(1, min_count=2))
# temp_refunded_2 = temp_refunded_2.stack(level=['Size'])
temp_refunded_2 = temp_refunded_2.to_frame(name='price_inc')
temp_refunded_2.rename(columns={'price_inc': 'Total Refund (£)'}, inplace=True)

temp_refunded = pd.concat([temp_refunded, temp_refunded_2], axis=1)

temp = pd.concat([temp_dispatched, temp_refunded], axis=1)

temp = temp[['Units Sold', 'Total Revenue (£)', 'Units Refunded', 'Total Refund (£)']]
temp['Units Sold'] = temp['Units Sold'].fillna(0)
temp['Total Revenue (£)'] = temp['Total Revenue (£)'].fillna(0)
temp['Units Refunded'] = temp['Units Refunded'].fillna(0)
temp['Total Refund (£)'] = temp['Total Refund (£)'].fillna(0)

df_total_sold = df[(df['order_state'] == 'Order Dispatched') | (df['order_state'] == 'Order Refunded')]

if channel == 'Leather Company':
    df_total_refund = df[df['order_state'] == 'Order Refunded']
    total_list = [df_total_sold['quantity'].sum(), df_total_sold['price_inc'].sum(),
                df_total_refund['quantity'].sum(), df_total_refund['price_inc'].sum()]

elif channel == 'Debenhams':
    df_fix_total_refunds = df[(df['order_state'] == 'Order Dispatched') | (df['order_state'] == 'Order Refunded')]
    df_fix_total_refunds = df_fix_total_refunds.sort_values(by='order_state')
    df_fix_total_refunds.drop_duplicates(subset=['order_id'], keep='first', inplace=True)
    df_fix_total_refunds = df_fix_total_refunds[df_fix_total_refunds['order_state'] == 'Order Refunded']
    total_list = [df_total_sold['quantity'].sum(), df_total_sold['price_inc'].sum(),
                df_fix_total_refunds['quantity'].sum(), df_fix_total_refunds['price_inc'].sum()]
temp.loc['Total', :] = total_list

temp['Final Revenue (£)'] = temp['Total Revenue (£)'] - temp['Total Refund (£)']
temp['Units Sold'] = temp['Units Sold'].astype(int)
temp['Units Refunded'] = temp['Units Refunded'].astype(int)
temp['Total Revenue (£)'] = temp['Total Revenue (£)'].astype(int)
temp['Total Refund (£)'] = temp['Total Refund (£)'].astype(int)
temp['Final Revenue (£)'] = temp['Final Revenue (£)'].astype(int)

In [281]:
# df = df[(df['customs_description'] == 'Mens > Leather Jackets')]

# temp_dispatched = df[(df['order_state'] == 'Order Dispatched') | (df['order_state'] == 'Order Refunded')]
# temp_refunded = df[df['order_state'] == 'Order Refunded']

# df['model'] = df['model'].fillna("(No assigned category)")
# df['colour'] = df['colour'].fillna("(No assigned colour)")
# df['attribute_summary'] = df['attribute_summary'].fillna("(No assigned size)")

# temp_dispatched = temp_dispatched.groupby(['customs_description', 'model', 'colour', 'attribute_summary']).sum()
# temp_dispatched.rename(columns={'quantity': 'Units Sold', 'price_inc': 'Total Revenue (£)'}, inplace=True)

# temp_refunded = temp_refunded.groupby(['customs_description', 'model', 'colour', 'attribute_summary']).sum()
# temp_refunded.rename(columns={'quantity': 'Units Refunded', 'price_inc': 'Total Refund (£)'}, inplace=True)

# temp = pd.concat([temp_dispatched, temp_refunded], axis=1)
# temp = temp[['Units Sold', 'Total Revenue (£)', 'Units Refunded', 'Total Refund (£)']]
# temp['Units Sold'] = temp['Units Sold'].fillna(0)
# temp['Total Revenue (£)'] = temp['Total Revenue (£)'].fillna(0)
# temp['Units Refunded'] = temp['Units Refunded'].fillna(0)
# temp['Total Refund (£)'] = temp['Total Refund (£)'].fillna(0)
# temp['Final Revenue (£)'] = temp['Total Revenue (£)'] - temp['Total Refund (£)']
# temp.loc['Total', :] = temp.sum(numeric_only=True).values
# temp['Units Sold'] = temp['Units Sold'].astype(int)
# temp['Units Refunded'] = temp['Units Refunded'].astype(int)
# temp['Total Revenue (£)'] = temp['Total Revenue (£)'].astype(int)
# temp['Total Refund (£)'] = temp['Total Refund (£)'].astype(int)
# temp['Final Revenue (£)'] = temp['Final Revenue (£)'].astype(int)

In [282]:
final = pd.concat([temp_ladies, temp])
# final.index=pd.MultiIndex.from_tuples([(x[0], x[1], x[2].replace('ZTotal', 'Total')) for x in final.index])
# final = final.unstack(level=['Colour', 'Size'])
# final = final.index.str.replace('ZTotal', 'Total')
# final = final.stack(level=['Colour', 'Size'])

In [283]:
final

                                                   Units Sold  \
Category                 Model      Colour   Size
Ladies > Leather Jackets 2810       Black    14             3
                                             16             1
                                             18             2
                                    Coffee   10             2
                                             12             1
                                    Total                   9
                         AWL-281    Black    14             1
                                             18             1
                                    Burgandy 22             1
                                    Grey     12             1
                                    Navy     14             1
                                             12             1
                                             22             1
                                    Tan      12             1
                                    Total                   8
                         MB139      Black    10             1
                                             12             1
                                    Tan      12             1
                                    Burgundy 16             1
                                             12             1
                                    Red      10             1
                                             12             1
                                             8              2
                                    Total                   9
                         awl-1201   Black    10             1
                                    Blue     14             1
                                             18             1
                                             12             2
                                             22             1
                                    Total                   6
                         awl-284    Navy     14             1
                                             12             1
                                    Tan      14             1
                                             12             1
                                    Oxblood  14             2
                                    Taupe    14             1
                                             16             1
                                             8              1
                                    Total                   9
                         awl-blazer Black    14             1
                                             18             1
                                    Tan      10             1
                                             12             1
                                    Taupe    12             1
                                    Total                   5
                         awl-n30    Black    22             1
                                    Tan      14             1
                                             16             1
                                             10             2
                                             12             2
                                    Total                   7
Total                                                      53
                                                            0

                                                   Total Revenue (£)  \
Category                 Model      Colour   Size
Ladies > Leather Jackets 2810       Black    14                  207
                                             16                   69
                                             18                  138
                                    Coffee   10                  138
                                             12                   69
                                    Total                        621
                         AWL-281    Black    14                  152
                                             18                  152
                                    Burgandy 22                  174
                                    Grey     12                  169
                                    Navy     14                  169
                                             12                  169
                                             22                  193
                                    Tan      12                  169
                                    Total                       1354
                         MB139      Black    10                  169
                                             12                  152
                                    Tan      12                  152
                                    Burgundy 16                  152
                                             12                  152
                                    Red      10                  169
                                             12                  152
                                             8                   339
                                    Total                       1444
                         awl-1201   Black    10                  129
                                    Blue     14                   99
                                             18                  116
                                             12                  258
                                             22                  129
                                    Total                        731
                         awl-284    Navy     14                  134
                                             12                  134
                                    Tan      14                  134
                                             12                  134
                                    Oxblood  14                  283
                                    Taupe    14                  149
                                             16                  149
                                             8                   134
                                    Total                       1251
                         awl-blazer Black    14                  139
                                             18                  125
                                    Tan      10                  125
                                             12                  125
                                    Taupe    12                  139
                                    Total                        653
                         awl-n30    Black    22                  143
                                    Tan      14                  139
                                             16                  139
                                             10                  250
                                             12                  264
                                    Total                        935
Total                                                           6991
                                                                   0

                                                   Units Refunded  \
Category                 Model      Colour   Size
Ladies > Leather Jackets 2810       Black    14                 2
                                             16                 0
                                             18                 2
                                    Coffee   10                 0
                                             12                 1
                                    Total                       5
                         AWL-281    Black    14                 1
                                             18                 1
                                    Burgandy 22                 0
                                    Grey     12                 1
                                    Navy     14                 0
                                             12                 0
                                             22                 0
                                    Tan      12                 1
                                    Total                       4
                         MB139      Black    10                 1
                                             12                 1
                                    Tan      12                 0
                                    Burgundy 16                 0
                                             12                 0
                                    Red      10                 1
                                             12                 0
                                             8                  1
                                    Total                       4
                         awl-1201   Black    10                 1
                                    Blue     14                 1
                                             18                 0
                                             12                 2
                                             22                 1
                                    Total                       5
                         awl-284    Navy     14                 1
                                             12                 0
                                    Tan      14                 1
                                             12                 1
                                    Oxblood  14                 1
                                    Taupe    14                 0
                                             16                 0
                                             8                  0
                                    Total                       4
                         awl-blazer Black    14                 0
                                             18                 0
                                    Tan      10                 0
                                             12                 1
                                    Taupe    12                 0
                                    Total                       0
                         awl-n30    Black    22                 0
                                    Tan      14                 0
                                             16                 0
                                             10                 1
                                             12                 1
                                    Total                       2
Total                                                          25
                                                                0

                                                   Total Refund (£)  \
Category                 Model      Colour   Size
Ladies > Leather Jackets 2810       Black    14                 138
                                             16                   0
                                             18                 138
                                    Coffee   10                   0
                                             12                  69
                                    Total                       345
                         AWL-281    Black    14                 152
                                             18                 152
                                    Burgandy 22                   0
                                    Grey     12                 169
                                    Navy     14                   0
                                             12                   0
                                             22                   0
                                    Tan      12                 169
                                    Total                       645
                         MB139      Black    10                 169
                                             12                 152
                                    Tan      12                   0
                                    Burgundy 16                   0
                                             12                   0
                                    Red      10                 169
                                             12                   0
                                             8                  169
                                    Total                       662
                         awl-1201   Black    10                 129
                                    Blue     14                  99
                                             18                   0
                                             12                 258
                                             22                 129
                                    Total                       615
                         awl-284    Navy     14                 134
                                             12                   0
                                    Tan      14                 134
                                             12                 134
                                    Oxblood  14                 149
                                    Taupe    14                   0
                                             16                   0
                                             8                    0
                                    Total                       551
                         awl-blazer Black    14                   0
                                             18                   0
                                    Tan      10                   0
                                             12                 125
                                    Taupe    12                   0
                                    Total                         0
                         awl-n30    Black    22                   0
                                    Tan      14                   0
                                             16                   0
                                             10                 125
                                             12                 139
                                    Total                       264
Total                                                          3209
                                                                  0

                                                   Final Revenue (£)
Category                 Model      Colour   Size
Ladies > Leather Jackets 2810       Black    14                   69
                                             16                   69
                                             18                    0
                                    Coffee   10                  138
                                             12                    0
                                    Total                        276
                         AWL-281    Black    14                    0
                                             18                    0
                                    Burgandy 22                  174
                                    Grey     12                    0
                                    Navy     14                  169
                                             12                  169
                                             22                  193
                                    Tan      12                    0
                                    Total                        708
                         MB139      Black    10                    0
                                             12                    0
                                    Tan      12                  152
                                    Burgundy 16                  152
                                             12                  152
                                    Red      10                    0
                                             12                  152
                                             8                   169
                                    Total                        781
                         awl-1201   Black    10                    0
                                    Blue     14                    0
                                             18                  116
                                             12                    0
                                             22                    0
                                    Total                        116
                         awl-284    Navy     14                    0
                                             12                  134
                                    Tan      14                    0
                                             12                    0
                                    Oxblood  14                  134
                                    Taupe    14                  149
                                             16                  149
                                             8                   134
                                    Total                        700
                         awl-blazer Black    14                  139
                                             18                  125
                                    Tan      10                  125
                                             12                    0
                                    Taupe    12                  139
                                    Total                        653
                         awl-n30    Black    22                  143
                                    Tan      14                  139
                                             16                  139
                                             10                  125
                                             12                  125
                                    Total                        671
Total                                                           3782
                                                                   0

In [284]:
final.to_excel(f'{channel} - {month_abb} 2024 - Leather Jackets.xlsx')

In [285]:
# # Leather Company
# import matplotlib.pyplot as plt

# temp_dispatched = temp_dispatched[temp_dispatched['price_inc'] < 400]
# temp_refunded = temp_refunded[temp_refunded['price_inc'] < 400]

# fig, (ax1, ax2) = plt.subplots(1, 2, figsize=(10, 4))
# fig.suptitle('Leather Company - Ladies Leather Jackets')
# plt.figure(figsize=(20,6))
# bins = [109, 119, 129, 139, 149, 159, 169, 179]
# ax1.hist(temp_dispatched['price_inc'], bins=10, edgecolor="k")
# ax1.set_title('Sold')
# ax2.hist(temp_refunded['price_inc'], bins=10, edgecolor="k")
# ax2.set_title('Refunded')
# y_bins = [0, 10, 20, 30, 40, 50]
# ax1.set_yticks(y_bins)
# ax2.set_yticks(y_bins)
# # ax1.set_xticks(bins)
# # ax2.set_xticks(bins)
# plt.show()