In [872]:
import pandas as pd
import numpy as np

In [873]:
df = pd.read_csv('All orders - short custom description.csv', low_memory=False)
df.drop_duplicates(inplace=True)
df.drop(columns=['Category'], inplace=True)
df['customs_description'] = df['customs_description'].astype(str)
df['F_Cat'] = df['F_Cat'].astype(str)
df['quantity'] = df['quantity'].astype(int)
temp_df = df['attribute_summary'].str.split(': ', expand=True)
temp_df.columns = ['F_Size', 'Size']
df['attribute_summary'] = temp_df['Size']

df.rename(columns={'attribute_summary': 'Size', 'model': 'Model', 'customs_description': 'Category'}, inplace=True)

In [874]:
import matplotlib
list_colours = []
for name, hex in matplotlib.colors.cnames.items():
    name = name.title()
    list_colours.append(name)

# list_colours = []
colours_df = pd.read_csv('colours.csv')
colours_df['colours'] = colours_df['colours'].str.strip()
for j in colours_df['colours'].unique().tolist():
    list_colours.append(j)

for i in list_colours:
    i = i.title()

list_colours = list(dict.fromkeys(list_colours))

df['Colour'] = df['title'].str.findall(r'(?i)\b(?:{})\b'.format('|'.join(list_colours))).apply(', '.join)

df2 = df['Colour'].str.split(',', expand=True)
df['Colour'] = df2[0]

In [875]:
orig_df = df.copy()

In [876]:
d1, d2 = '2024-01-01', '2024-01-31'
month_abb = 'Jan'
channel = 'Debenhams'

In [877]:
df = df[(df['date'] >= d1) & (df['date'] <= d2)]
df = df[df['Channel'] == channel]

In [878]:
df = df[(df['Category'] == 'Ladies > Leather Jackets')]
df = df[df['Model'] != '5 pads set']

temp_dispatched = df[(df['order_state'] == 'Order Dispatched') | (df['order_state'] == 'Order Refunded')]
temp_dispatched_2 = df[(df['order_state'] == 'Order Dispatched') | (df['order_state'] == 'Order Refunded')]
temp_refunded = df[df['order_state'] == 'Order Refunded']
temp_refunded_2 = df[df['order_state'] == 'Order Refunded']

df['Model'] = df['Model'].fillna("(No assigned category)")
df['Colour'] = df['Colour'].fillna("(No assigned colour)")
df['Size'] = df['Size'].fillna("(No assigned size)")

temp_dispatched = temp_dispatched[['Category', 'Model', 'Colour', 'Size', 'quantity']]
temp_dispatched = temp_dispatched.groupby(['Category', 'Model', 'Colour', 'Size'])['quantity'].sum()
temp_dispatched = temp_dispatched.unstack(level=['Colour', 'Size'])
temp_dispatched = temp_dispatched.assign(Total=temp_dispatched.sum(1, min_count=2))
temp_dispatched = temp_dispatched.stack(level=['Colour', 'Size'], sort=False)
# temp_dispatched = temp_dispatched.unstack(level=['Size'])
# temp_dispatched = temp_dispatched.assign(Total=temp_dispatched.sum(1, min_count=2))
# temp_dispatched = temp_dispatched.stack(level=['Size'])
temp_dispatched = temp_dispatched.to_frame(name='quantity')
temp_dispatched.rename(columns={'quantity': 'Units Sold'}, inplace=True)

temp_dispatched_2 = temp_dispatched_2[['Category', 'Model', 'Colour', 'Size', 'price_inc']]
temp_dispatched_2 = temp_dispatched_2.groupby(['Category', 'Model', 'Colour', 'Size'])['price_inc'].sum()
temp_dispatched_2 = temp_dispatched_2.unstack(level=['Colour', 'Size'])
temp_dispatched_2 = temp_dispatched_2.assign(Total=temp_dispatched_2.sum(1, min_count=2))
temp_dispatched_2 = temp_dispatched_2.stack(level=['Colour', 'Size'], sort=False)
temp_dispatched_2 = temp_dispatched_2.unstack(level=['Size'])
temp_dispatched_2 = temp_dispatched_2.assign(Total=temp_dispatched_2.sum(1, min_count=2))
temp_dispatched_2 = temp_dispatched_2.stack(level=['Size'], sort=False)
temp_dispatched_2 = temp_dispatched_2.to_frame(name='price_inc')
temp_dispatched_2.rename(columns={'price_inc': 'Total Revenue (£)'}, inplace=True)

temp_dispatched = pd.concat([temp_dispatched, temp_dispatched_2], axis=1)



temp_refunded = temp_refunded[['Category', 'Model', 'Colour', 'Size', 'quantity']]
temp_refunded = temp_refunded.groupby(['Category', 'Model', 'Colour', 'Size'])['quantity'].sum()
temp_refunded = temp_refunded.unstack(level=['Colour', 'Size'])
temp_refunded = temp_refunded.assign(Total=temp_refunded.sum(1, min_count=2))
temp_refunded = temp_refunded.stack(level=['Colour', 'Size'], sort=False)
# temp_refunded = temp_refunded.unstack(level=['Size'])
# temp_refunded = temp_refunded.assign(Total=temp_refunded.sum(1, min_count=2))
# temp_refunded = temp_refunded.stack(level=['Size'])
temp_refunded = temp_refunded.to_frame(name='quantity')
temp_refunded.rename(columns={'quantity': 'Units Refunded'}, inplace=True)

temp_refunded_2 = temp_refunded_2[['Category', 'Model', 'Colour', 'Size', 'price_inc']]
temp_refunded_2 = temp_refunded_2.groupby(['Category', 'Model', 'Colour', 'Size'])['price_inc'].sum()
temp_refunded_2 = temp_refunded_2.unstack(level=['Colour', 'Size'])
temp_refunded_2 = temp_refunded_2.assign(Total=temp_refunded_2.sum(1, min_count=2))
temp_refunded_2 = temp_refunded_2.stack(level=['Colour', 'Size'], sort=False)
# temp_refunded_2 = temp_refunded_2.unstack(level=['Size'])
# temp_refunded_2 = temp_refunded_2.assign(Total=temp_refunded_2.sum(1, min_count=2))
# temp_refunded_2 = temp_refunded_2.stack(level=['Size'])
temp_refunded_2 = temp_refunded_2.to_frame(name='price_inc')
temp_refunded_2.rename(columns={'price_inc': 'Total Refund (£)'}, inplace=True)

temp_refunded = pd.concat([temp_refunded, temp_refunded_2], axis=1)

temp_ladies = pd.concat([temp_dispatched, temp_refunded], axis=1)

temp_ladies = temp_ladies[['Units Sold', 'Total Revenue (£)', 'Units Refunded', 'Total Refund (£)']]
temp_ladies['Units Sold'] = temp_ladies['Units Sold'].fillna(0)
temp_ladies['Total Revenue (£)'] = temp_ladies['Total Revenue (£)'].fillna(0)
temp_ladies['Units Refunded'] = temp_ladies['Units Refunded'].fillna(0)
temp_ladies['Total Refund (£)'] = temp_ladies['Total Refund (£)'].fillna(0)

df_total_sold = df[(df['order_state'] == 'Order Dispatched') | (df['order_state'] == 'Order Refunded')]
df_total_refund = df[df['order_state'] == 'Order Refunded']
total_list = [df_total_sold['quantity'].sum(), df_total_sold['price_inc'].sum(),
              df_total_refund['quantity'].sum(), df_total_refund['price_inc'].sum()]
temp_ladies.loc['Total', :] = total_list

temp_ladies['Final Revenue (£)'] = temp_ladies['Total Revenue (£)'] - temp_ladies['Total Refund (£)']

temp_ladies['Units Sold'] = temp_ladies['Units Sold'].astype(int)
temp_ladies['Units Refunded'] = temp_ladies['Units Refunded'].astype(int)
temp_ladies['Total Revenue (£)'] = temp_ladies['Total Revenue (£)'].astype(int)
temp_ladies['Total Refund (£)'] = temp_ladies['Total Refund (£)'].astype(int)
temp_ladies['Final Revenue (£)'] = temp_ladies['Final Revenue (£)'].astype(int)

In [879]:
# df = df[(df['customs_description'] == 'Ladies > Leather Jackets')]
# df = df[df['model'] != '5 pads set']

# temp_dispatched = df[(df['order_state'] == 'Order Dispatched') | (df['order_state'] == 'Order Refunded')]
# temp_refunded = df[df['order_state'] == 'Order Refunded']

# df['model'] = df['model'].fillna("(No assigned category)")
# df['colour'] = df['colour'].fillna("(No assigned colour)")
# df['attribute_summary'] = df['attribute_summary'].fillna("(No assigned size)")

# temp_dispatched = temp_dispatched.groupby(['customs_description', 'model', 'colour', 'attribute_summary']).sum()
# temp_dispatched.rename(columns={'quantity': 'Units Sold', 'price_inc': 'Total Revenue (£)'}, inplace=True)

# temp_refunded = temp_refunded.groupby(['customs_description', 'model', 'colour', 'attribute_summary']).sum()
# temp_refunded.rename(columns={'quantity': 'Units Refunded', 'price_inc': 'Total Refund (£)'}, inplace=True)

# temp_ladies = pd.concat([temp_dispatched, temp_refunded], axis=1)
# temp_ladies = temp_ladies[['Units Sold', 'Total Revenue (£)', 'Units Refunded', 'Total Refund (£)']]
# temp_ladies['Units Sold'] = temp_ladies['Units Sold'].fillna(0)
# temp_ladies['Total Revenue (£)'] = temp_ladies['Total Revenue (£)'].fillna(0)
# temp_ladies['Units Refunded'] = temp_ladies['Units Refunded'].fillna(0)
# temp_ladies['Total Refund (£)'] = temp_ladies['Total Refund (£)'].fillna(0)
# temp_ladies['Final Revenue (£)'] = temp_ladies['Total Revenue (£)'] - temp_ladies['Total Refund (£)']
# temp_ladies.loc['Total', :] = temp_ladies.sum(numeric_only=True).values
# temp_ladies['Units Sold'] = temp_ladies['Units Sold'].astype(int)
# temp_ladies['Units Refunded'] = temp_ladies['Units Refunded'].astype(int)
# temp_ladies['Total Revenue (£)'] = temp_ladies['Total Revenue (£)'].astype(int)
# temp_ladies['Total Refund (£)'] = temp_ladies['Total Refund (£)'].astype(int)
# temp_ladies['Final Revenue (£)'] = temp_ladies['Final Revenue (£)'].astype(int)

In [880]:
df = orig_df[(orig_df['date'] >= d1) & (orig_df['date'] <= d2)]
df = df[df['Channel'] == channel]

In [881]:
df = df[(df['Category'] == 'Mens > Leather Jackets')]

temp_dispatched = df[(df['order_state'] == 'Order Dispatched') | (df['order_state'] == 'Order Refunded')]
temp_dispatched_2 = df[(df['order_state'] == 'Order Dispatched') | (df['order_state'] == 'Order Refunded')]
temp_refunded = df[df['order_state'] == 'Order Refunded']
temp_refunded_2 = df[df['order_state'] == 'Order Refunded']

df['Model'] = df['Model'].fillna("(No assigned category)")
df['Colour'] = df['Colour'].fillna("(No assigned colour)")
df['Size'] = df['Size'].fillna("(No assigned size)")

temp_dispatched = temp_dispatched[['Category', 'Model', 'Colour', 'Size', 'quantity']]
temp_dispatched = temp_dispatched.groupby(['Category', 'Model', 'Colour', 'Size'])['quantity'].sum()
temp_dispatched = temp_dispatched.unstack(level=['Colour', 'Size'])
temp_dispatched = temp_dispatched.assign(Total=temp_dispatched.sum(1, min_count=2))
temp_dispatched = temp_dispatched.stack(level=['Colour', 'Size'], sort=False)
# temp_dispatched = temp_dispatched.unstack(level=['Size'])
# temp_dispatched = temp_dispatched.assign(Total=temp_dispatched.sum(1, min_count=2))
# temp_dispatched = temp_dispatched.stack(level=['Size'])
temp_dispatched = temp_dispatched.to_frame(name='quantity')
temp_dispatched.rename(columns={'quantity': 'Units Sold'}, inplace=True)

temp_dispatched_2 = temp_dispatched_2[['Category', 'Model', 'Colour', 'Size', 'price_inc']]
temp_dispatched_2 = temp_dispatched_2.groupby(['Category', 'Model', 'Colour', 'Size'])['price_inc'].sum()
temp_dispatched_2 = temp_dispatched_2.unstack(level=['Colour', 'Size'])
temp_dispatched_2 = temp_dispatched_2.assign(Total=temp_dispatched_2.sum(1, min_count=2))
temp_dispatched_2 = temp_dispatched_2.stack(level=['Colour', 'Size'], sort=False)
# temp_dispatched_2 = temp_dispatched_2.unstack(level=['Size'])
# temp_dispatched_2 = temp_dispatched_2.assign(Total=temp_dispatched_2.sum(1, min_count=2))
# temp_dispatched_2 = temp_dispatched_2.stack(level=['Size'])
temp_dispatched_2 = temp_dispatched_2.to_frame(name='price_inc')
temp_dispatched_2.rename(columns={'price_inc': 'Total Revenue (£)'}, inplace=True)

temp_dispatched = pd.concat([temp_dispatched, temp_dispatched_2], axis=1)



temp_refunded = temp_refunded[['Category', 'Model', 'Colour', 'Size', 'quantity']]
temp_refunded = temp_refunded.groupby(['Category', 'Model', 'Colour', 'Size'])['quantity'].sum()
temp_refunded = temp_refunded.unstack(level=['Colour', 'Size'])
temp_refunded = temp_refunded.assign(Total=temp_refunded.sum(1, min_count=2))
temp_refunded = temp_refunded.stack(level=['Colour', 'Size'], sort=False)
# temp_refunded = temp_refunded.unstack(level=['Size'])
# temp_refunded = temp_refunded.assign(Total=temp_refunded.sum(1, min_count=2))
# temp_refunded = temp_refunded.stack(level=['Size'])
temp_refunded = temp_refunded.to_frame(name='quantity')
temp_refunded.rename(columns={'quantity': 'Units Refunded'}, inplace=True)

temp_refunded_2 = temp_refunded_2[['Category', 'Model', 'Colour', 'Size', 'price_inc']]
temp_refunded_2 = temp_refunded_2.groupby(['Category', 'Model', 'Colour', 'Size'])['price_inc'].sum()
temp_refunded_2 = temp_refunded_2.unstack(level=['Colour', 'Size'])
temp_refunded_2 = temp_refunded_2.assign(Total=temp_refunded_2.sum(1, min_count=2))
temp_refunded_2 = temp_refunded_2.stack(level=['Colour', 'Size'], sort=False)
# temp_refunded_2 = temp_refunded_2.unstack(level=['Size'])
# temp_refunded_2 = temp_refunded_2.assign(Total=temp_refunded_2.sum(1, min_count=2))
# temp_refunded_2 = temp_refunded_2.stack(level=['Size'])
temp_refunded_2 = temp_refunded_2.to_frame(name='price_inc')
temp_refunded_2.rename(columns={'price_inc': 'Total Refund (£)'}, inplace=True)

temp_refunded = pd.concat([temp_refunded, temp_refunded_2], axis=1)

temp = pd.concat([temp_dispatched, temp_refunded], axis=1)

temp = temp[['Units Sold', 'Total Revenue (£)', 'Units Refunded', 'Total Refund (£)']]
temp['Units Sold'] = temp['Units Sold'].fillna(0)
temp['Total Revenue (£)'] = temp['Total Revenue (£)'].fillna(0)
temp['Units Refunded'] = temp['Units Refunded'].fillna(0)
temp['Total Refund (£)'] = temp['Total Refund (£)'].fillna(0)

df_total_sold = df[(df['order_state'] == 'Order Dispatched') | (df['order_state'] == 'Order Refunded')]
df_total_refund = df[df['order_state'] == 'Order Refunded']
total_list = [df_total_sold['quantity'].sum(), df_total_sold['price_inc'].sum(),
              df_total_refund['quantity'].sum(), df_total_refund['price_inc'].sum()]
temp.loc['Total', :] = total_list

temp['Final Revenue (£)'] = temp['Total Revenue (£)'] - temp['Total Refund (£)']
temp['Units Sold'] = temp['Units Sold'].astype(int)
temp['Units Refunded'] = temp['Units Refunded'].astype(int)
temp['Total Revenue (£)'] = temp['Total Revenue (£)'].astype(int)
temp['Total Refund (£)'] = temp['Total Refund (£)'].astype(int)
temp['Final Revenue (£)'] = temp['Final Revenue (£)'].astype(int)

In [882]:
# df = df[(df['customs_description'] == 'Mens > Leather Jackets')]

# temp_dispatched = df[(df['order_state'] == 'Order Dispatched') | (df['order_state'] == 'Order Refunded')]
# temp_refunded = df[df['order_state'] == 'Order Refunded']

# df['model'] = df['model'].fillna("(No assigned category)")
# df['colour'] = df['colour'].fillna("(No assigned colour)")
# df['attribute_summary'] = df['attribute_summary'].fillna("(No assigned size)")

# temp_dispatched = temp_dispatched.groupby(['customs_description', 'model', 'colour', 'attribute_summary']).sum()
# temp_dispatched.rename(columns={'quantity': 'Units Sold', 'price_inc': 'Total Revenue (£)'}, inplace=True)

# temp_refunded = temp_refunded.groupby(['customs_description', 'model', 'colour', 'attribute_summary']).sum()
# temp_refunded.rename(columns={'quantity': 'Units Refunded', 'price_inc': 'Total Refund (£)'}, inplace=True)

# temp = pd.concat([temp_dispatched, temp_refunded], axis=1)
# temp = temp[['Units Sold', 'Total Revenue (£)', 'Units Refunded', 'Total Refund (£)']]
# temp['Units Sold'] = temp['Units Sold'].fillna(0)
# temp['Total Revenue (£)'] = temp['Total Revenue (£)'].fillna(0)
# temp['Units Refunded'] = temp['Units Refunded'].fillna(0)
# temp['Total Refund (£)'] = temp['Total Refund (£)'].fillna(0)
# temp['Final Revenue (£)'] = temp['Total Revenue (£)'] - temp['Total Refund (£)']
# temp.loc['Total', :] = temp.sum(numeric_only=True).values
# temp['Units Sold'] = temp['Units Sold'].astype(int)
# temp['Units Refunded'] = temp['Units Refunded'].astype(int)
# temp['Total Revenue (£)'] = temp['Total Revenue (£)'].astype(int)
# temp['Total Refund (£)'] = temp['Total Refund (£)'].astype(int)
# temp['Final Revenue (£)'] = temp['Final Revenue (£)'].astype(int)

In [883]:
final = pd.concat([temp_ladies, temp])
# final.index=pd.MultiIndex.from_tuples([(x[0], x[1], x[2].replace('ZTotal', 'Total')) for x in final.index])
# final = final.unstack(level=['Colour', 'Size'])
# final = final.index.str.replace('ZTotal', 'Total')
# final = final.stack(level=['Colour', 'Size'])

In [884]:
final

                                                    Units Sold  \
Category                 Model      Colour   Size
Ladies > Leather Jackets AWL-281    Black    16              1
                                             24              1
                                             8               1
                                    Total                    3
                         MB139      Burgundy 14              1
                                    Navy     22              1
                                    Red      16              1
                                             22              1
                                             18              1
                                    Tan      14              1
                                             20              1
                                    Total                    7
                         awl-284    Black    16              1
                                             24              1
                                             14              2
                                             22              2
                                             10              1
                                             12              2
                                    Navy     22              1
                                             12              2
                                    Tan      8               2
                                             20              1
                                    Oxblood  12              2
                                    Taupe    16              1
                                             24              1
                                             12              1
                                    Total                   20
                         awl-blazer Black    16              1
                                             8               1
                                             22              2
                                             20              2
                                             12              1
                                    Tan      24              1
                                             14              1
                                             22              2
                                             18              3
                                             10              1
                                             12              3
                                    Total                   18
                         awl-n30    Black    16              1
                                             14              1
                                             10              1
                                    Total                    3
                         AWL-281    Black    Total           0
                         MB139      Red      Total           0
                                    Tan      Total           0
                         awl-284    Black    Total           0
                                    Navy     Total           0
                                    Tan      Total           0
                                    Taupe    Total           0
                         awl-blazer Black    Total           0
                                    Tan      Total           0
                         awl-n30    Black    Total           0
Total                                                       51
                                                             0

                                                    Total Revenue (£)  \
Category                 Model      Colour   Size
Ladies > Leather Jackets AWL-281    Black    16                   152
                                             24                   179
                                             8                    152
                                    Total                         485
                         MB139      Burgundy 14                   152
                                    Navy     22                   174
                                    Red      16                   152
                                             22                   174
                                             18                   152
                                    Tan      14                   152
                                             20                   166
                                    Total                        1127
                         awl-284    Black    16                   134
                                             24                   157
                                             14                   268
                                             22                   304
                                             10                   134
                                             12                   268
                                    Navy     22                   152
                                             12                   268
                                    Tan      8                    268
                                             20                   143
                                    Oxblood  12                   268
                                    Taupe    16                   134
                                             24                   157
                                             12                   134
                                    Total                        2791
                         awl-blazer Black    16                   125
                                             8                    125
                                             22                   286
                                             20                   268
                                             12                   125
                                    Tan      24                   152
                                             14                   125
                                             22                   286
                                             18                   375
                                             10                   125
                                             12                   375
                                    Total                        2368
                         awl-n30    Black    16                   125
                                             14                   125
                                             10                   125
                                    Total                         375
                         AWL-281    Black    Total                485
                         MB139      Red      Total                480
                                    Tan      Total                319
                         awl-284    Black    Total               1266
                                    Navy     Total                420
                                    Tan      Total                411
                                    Taupe    Total                425
                         awl-blazer Black    Total                929
                                    Tan      Total               1439
                         awl-n30    Black    Total                375
Total                                                            7149
                                                                    0

                                                    Units Refunded  \
Category                 Model      Colour   Size
Ladies > Leather Jackets AWL-281    Black    16                  1
                                             24                  1
                                             8                   0
                                    Total                        2
                         MB139      Burgundy 14                  0
                                    Navy     22                  0
                                    Red      16                  0
                                             22                  0
                                             18                  1
                                    Tan      14                  1
                                             20                  0
                                    Total                        2
                         awl-284    Black    16                  0
                                             24                  0
                                             14                  0
                                             22                  0
                                             10                  1
                                             12                  1
                                    Navy     22                  0
                                             12                  1
                                    Tan      8                   0
                                             20                  0
                                    Oxblood  12                  0
                                    Taupe    16                  0
                                             24                  1
                                             12                  0
                                    Total                        4
                         awl-blazer Black    16                  1
                                             8                   0
                                             22                  0
                                             20                  1
                                             12                  0
                                    Tan      24                  0
                                             14                  0
                                             22                  0
                                             18                  1
                                             10                  0
                                             12                  0
                                    Total                        3
                         awl-n30    Black    16                  1
                                             14                  1
                                             10                  1
                                    Total                        3
                         AWL-281    Black    Total               0
                         MB139      Red      Total               0
                                    Tan      Total               0
                         awl-284    Black    Total               0
                                    Navy     Total               0
                                    Tan      Total               0
                                    Taupe    Total               0
                         awl-blazer Black    Total               0
                                    Tan      Total               0
                         awl-n30    Black    Total               0
Total                                                           14
                                                                 0

                                                    Total Refund (£)  \
Category                 Model      Colour   Size
Ladies > Leather Jackets AWL-281    Black    16                  152
                                             24                  179
                                             8                     0
                                    Total                        332
                         MB139      Burgundy 14                    0
                                    Navy     22                    0
                                    Red      16                    0
                                             22                    0
                                             18                  152
                                    Tan      14                  152
                                             20                    0
                                    Total                        305
                         awl-284    Black    16                    0
                                             24                    0
                                             14                    0
                                             22                    0
                                             10                  134
                                             12                  134
                                    Navy     22                    0
                                             12                  134
                                    Tan      8                     0
                                             20                    0
                                    Oxblood  12                    0
                                    Taupe    16                    0
                                             24                  157
                                             12                    0
                                    Total                        559
                         awl-blazer Black    16                  125
                                             8                     0
                                             22                    0
                                             20                  134
                                             12                    0
                                    Tan      24                    0
                                             14                    0
                                             22                    0
                                             18                  125
                                             10                    0
                                             12                    0
                                    Total                        384
                         awl-n30    Black    16                  125
                                             14                  125
                                             10                  125
                                    Total                        375
                         AWL-281    Black    Total                 0
                         MB139      Red      Total                 0
                                    Tan      Total                 0
                         awl-284    Black    Total                 0
                                    Navy     Total                 0
                                    Tan      Total                 0
                                    Taupe    Total                 0
                         awl-blazer Black    Total                 0
                                    Tan      Total                 0
                         awl-n30    Black    Total                 0
Total                                                           1958
                                                                   0

                                                    Final Revenue (£)
Category                 Model      Colour   Size
Ladies > Leather Jackets AWL-281    Black    16                     0
                                             24                     0
                                             8                    152
                                    Total                         152
                         MB139      Burgundy 14                   152
                                    Navy     22                   174
                                    Red      16                   152
                                             22                   174
                                             18                     0
                                    Tan      14                     0
                                             20                   166
                                    Total                         821
                         awl-284    Black    16                   134
                                             24                   157
                                             14                   268
                                             22                   304
                                             10                     0
                                             12                   134
                                    Navy     22                   152
                                             12                   134
                                    Tan      8                    268
                                             20                   143
                                    Oxblood  12                   268
                                    Taupe    16                   134
                                             24                     0
                                             12                   134
                                    Total                        2232
                         awl-blazer Black    16                     0
                                             8                    125
                                             22                   286
                                             20                   134
                                             12                   125
                                    Tan      24                   152
                                             14                   125
                                             22                   286
                                             18                   250
                                             10                   125
                                             12                   375
                                    Total                        1984
                         awl-n30    Black    16                     0
                                             14                     0
                                             10                     0
                                    Total                           0
                         AWL-281    Black    Total                485
                         MB139      Red      Total                480
                                    Tan      Total                319
                         awl-284    Black    Total               1266
                                    Navy     Total                420
                                    Tan      Total                411
                                    Taupe    Total                425
                         awl-blazer Black    Total                929
                                    Tan      Total               1439
                         awl-n30    Black    Total                375
Total                                                            5191
                                                                    0

In [885]:
final.to_excel(f'{channel} - {month_abb} 2024 - Leather Jackets.xlsx')

In [886]:
# # Leather Company
# import matplotlib.pyplot as plt

# temp_dispatched = temp_dispatched[temp_dispatched['price_inc'] < 400]
# temp_refunded = temp_refunded[temp_refunded['price_inc'] < 400]

# fig, (ax1, ax2) = plt.subplots(1, 2, figsize=(10, 4))
# fig.suptitle('Leather Company - Ladies Leather Jackets')
# plt.figure(figsize=(20,6))
# bins = [109, 119, 129, 139, 149, 159, 169, 179]
# ax1.hist(temp_dispatched['price_inc'], bins=10, edgecolor="k")
# ax1.set_title('Sold')
# ax2.hist(temp_refunded['price_inc'], bins=10, edgecolor="k")
# ax2.set_title('Refunded')
# y_bins = [0, 10, 20, 30, 40, 50]
# ax1.set_yticks(y_bins)
# ax2.set_yticks(y_bins)
# # ax1.set_xticks(bins)
# # ax2.set_xticks(bins)
# plt.show()