In [80]:
import pandas as pd
import numpy as np

In [81]:
df = pd.read_csv('All orders - short custom description.csv', low_memory=False)
df.drop_duplicates(inplace=True)
df.drop(columns=['Category'], inplace=True)
df['customs_description'] = df['customs_description'].astype(str)
df['F_Cat'] = df['F_Cat'].astype(str)
df['quantity'] = df['quantity'].astype(int)
temp_df = df['attribute_summary'].str.split(': ', expand=True)
temp_df.columns = ['F_Size', 'Size']
df['attribute_summary'] = temp_df['Size']

df.rename(columns={'attribute_summary': 'Size', 'model': 'Model', 'customs_description': 'Category'}, inplace=True)

In [82]:
import matplotlib
list_colours = []
for name, hex in matplotlib.colors.cnames.items():
    name = name.title()
    list_colours.append(name)

# list_colours = []
colours_df = pd.read_csv('colours.csv')
colours_df['colours'] = colours_df['colours'].str.strip()
for j in colours_df['colours'].unique().tolist():
    list_colours.append(j)

for i in list_colours:
    i = i.title()

list_colours = list(dict.fromkeys(list_colours))

df['Colour'] = df['title'].str.findall(r'(?i)\b(?:{})\b'.format('|'.join(list_colours))).apply(', '.join)

df2 = df['Colour'].str.split(',', expand=True)
df['Colour'] = df2[0]

In [83]:
orig_df = df.copy()

In [84]:
d1, d2 = '2024-01-01', '2024-01-31'
month_abb = 'Jan'
channel = 'Leather Company'

In [85]:
df = df[(df['date'] >= d1) & (df['date'] <= d2)]
df = df[df['Channel'] == channel]

In [86]:
df = df[(df['Category'] == 'Ladies > Leather Jackets')]
df = df[df['Model'] != '5 pads set']

temp_dispatched = df[(df['order_state'] == 'Order Dispatched') | (df['order_state'] == 'Order Refunded')]
temp_dispatched_2 = df[(df['order_state'] == 'Order Dispatched') | (df['order_state'] == 'Order Refunded')]
temp_refunded = df[df['order_state'] == 'Order Refunded']
temp_refunded_2 = df[df['order_state'] == 'Order Refunded']

df['Model'] = df['Model'].fillna("(No assigned category)")
df['Colour'] = df['Colour'].fillna("(No assigned colour)")
df['Size'] = df['Size'].fillna("(No assigned size)")

temp_dispatched = temp_dispatched[['Category', 'Model', 'Colour', 'Size', 'quantity']]
temp_dispatched = temp_dispatched.groupby(['Category', 'Model', 'Colour', 'Size'])['quantity'].sum()
temp_dispatched = temp_dispatched.unstack(level=['Colour', 'Size'])
temp_dispatched = temp_dispatched.assign(Total=temp_dispatched.sum(1, min_count=2))
temp_dispatched = temp_dispatched.stack(level=['Colour', 'Size'], sort=False)
# temp_dispatched = temp_dispatched.unstack(level=['Size'])
# temp_dispatched = temp_dispatched.assign(Total=temp_dispatched.sum(1, min_count=2))
# temp_dispatched = temp_dispatched.stack(level=['Size'])
temp_dispatched = temp_dispatched.to_frame(name='quantity')
temp_dispatched.rename(columns={'quantity': 'Units Sold'}, inplace=True)

temp_dispatched_2 = temp_dispatched_2[['Category', 'Model', 'Colour', 'Size', 'price_inc']]
temp_dispatched_2 = temp_dispatched_2.groupby(['Category', 'Model', 'Colour', 'Size'])['price_inc'].sum()
temp_dispatched_2 = temp_dispatched_2.unstack(level=['Colour', 'Size'])
temp_dispatched_2 = temp_dispatched_2.assign(Total=temp_dispatched_2.sum(1, min_count=2))
temp_dispatched_2 = temp_dispatched_2.stack(level=['Colour', 'Size'], sort=False)
# temp_dispatched_2 = temp_dispatched_2.unstack(level=['Size'])
# temp_dispatched_2 = temp_dispatched_2.assign(Total=temp_dispatched_2.sum(1, min_count=2))
# temp_dispatched_2 = temp_dispatched_2.stack(level=['Size'], sort=False)
temp_dispatched_2 = temp_dispatched_2.to_frame(name='price_inc')
temp_dispatched_2.rename(columns={'price_inc': 'Total Revenue (£)'}, inplace=True)

temp_dispatched = pd.concat([temp_dispatched, temp_dispatched_2], axis=1)



temp_refunded = temp_refunded[['Category', 'Model', 'Colour', 'Size', 'quantity']]
temp_refunded = temp_refunded.groupby(['Category', 'Model', 'Colour', 'Size'])['quantity'].sum()
temp_refunded = temp_refunded.unstack(level=['Colour', 'Size'])
temp_refunded = temp_refunded.assign(Total=temp_refunded.sum(1, min_count=2))
temp_refunded = temp_refunded.stack(level=['Colour', 'Size'], sort=False)
# temp_refunded = temp_refunded.unstack(level=['Size'])
# temp_refunded = temp_refunded.assign(Total=temp_refunded.sum(1, min_count=2))
# temp_refunded = temp_refunded.stack(level=['Size'])
temp_refunded = temp_refunded.to_frame(name='quantity')
temp_refunded.rename(columns={'quantity': 'Units Refunded'}, inplace=True)

temp_refunded_2 = temp_refunded_2[['Category', 'Model', 'Colour', 'Size', 'price_inc']]
temp_refunded_2 = temp_refunded_2.groupby(['Category', 'Model', 'Colour', 'Size'])['price_inc'].sum()
temp_refunded_2 = temp_refunded_2.unstack(level=['Colour', 'Size'])
temp_refunded_2 = temp_refunded_2.assign(Total=temp_refunded_2.sum(1, min_count=2))
temp_refunded_2 = temp_refunded_2.stack(level=['Colour', 'Size'], sort=False)
# temp_refunded_2 = temp_refunded_2.unstack(level=['Size'])
# temp_refunded_2 = temp_refunded_2.assign(Total=temp_refunded_2.sum(1, min_count=2))
# temp_refunded_2 = temp_refunded_2.stack(level=['Size'])
temp_refunded_2 = temp_refunded_2.to_frame(name='price_inc')
temp_refunded_2.rename(columns={'price_inc': 'Total Refund (£)'}, inplace=True)

temp_refunded = pd.concat([temp_refunded, temp_refunded_2], axis=1)

temp_ladies = pd.concat([temp_dispatched, temp_refunded], axis=1)

temp_ladies = temp_ladies[['Units Sold', 'Total Revenue (£)', 'Units Refunded', 'Total Refund (£)']]
temp_ladies['Units Sold'] = temp_ladies['Units Sold'].fillna(0)
temp_ladies['Total Revenue (£)'] = temp_ladies['Total Revenue (£)'].fillna(0)
temp_ladies['Units Refunded'] = temp_ladies['Units Refunded'].fillna(0)
temp_ladies['Total Refund (£)'] = temp_ladies['Total Refund (£)'].fillna(0)

df_total_sold = df[(df['order_state'] == 'Order Dispatched') | (df['order_state'] == 'Order Refunded')]
df_total_refund = df[df['order_state'] == 'Order Refunded']
total_list = [df_total_sold['quantity'].sum(), df_total_sold['price_inc'].sum(),
              df_total_refund['quantity'].sum(), df_total_refund['price_inc'].sum()]
temp_ladies.loc['Total', :] = total_list

temp_ladies['Final Revenue (£)'] = temp_ladies['Total Revenue (£)'] - temp_ladies['Total Refund (£)']

temp_ladies['Units Sold'] = temp_ladies['Units Sold'].astype(int)
temp_ladies['Units Refunded'] = temp_ladies['Units Refunded'].astype(int)
temp_ladies['Total Revenue (£)'] = temp_ladies['Total Revenue (£)'].astype(int)
temp_ladies['Total Refund (£)'] = temp_ladies['Total Refund (£)'].astype(int)
temp_ladies['Final Revenue (£)'] = temp_ladies['Final Revenue (£)'].astype(int)

In [87]:
temp_ladies

                                                   Units Sold  \
Category                 Model       Colour  Size
Ladies > Leather Jackets 1141        Beige   14             1
                                             16             1
                                             18             2
                                     Black   10             1
                                     Total                  5
...                                                       ...
                         licra       Black   12             2
                                     Total                  6
                         moto bomber Black   8              1
                         nirma       Oxblood 16             1
Total                                                     130

                                                   Total Revenue (£)  \
Category                 Model       Colour  Size
Ladies > Leather Jackets 1141        Beige   14                  129
                                             16                  129
                                             18                  258
                                     Black   10                  129
                                     Total                       645
...                                                              ...
                         licra       Black   12                  398
                                     Total                      1194
                         moto bomber Black   8                   169
                         nirma       Oxblood 16                  107
Total                                                          29871

                                                   Units Refunded  \
Category                 Model       Colour  Size
Ladies > Leather Jackets 1141        Beige   14                 1
                                             16                 0
                                             18                 1
                                     Black   10                 0
                                     Total                      2
...                                                           ...
                         licra       Black   12                 2
                                     Total                      0
                         moto bomber Black   8                  0
                         nirma       Oxblood 16                 0
Total                                                          34

                                                   Total Refund (£)  \
Category                 Model       Colour  Size
Ladies > Leather Jackets 1141        Beige   14                 129
                                             16                   0
                                             18                 129
                                     Black   10                   0
                                     Total                      258
...                                                             ...
                         licra       Black   12                 398
                                     Total                        0
                         moto bomber Black   8                    0
                         nirma       Oxblood 16                   0
Total                                                          9892

                                                   Final Revenue (£)
Category                 Model       Colour  Size
Ladies > Leather Jackets 1141        Beige   14                    0
                                             16                  129
                                             18                  129
                                     Black   10                  129
                                     Total                       387
...                                                              ...
                         licra       Black   12                    0
                                     Total                      1194
                         moto bomber Black   8                   169
                         nirma       Oxblood 16                  107
Total                                                          19978

[135 rows x 5 columns]

In [88]:
# df = df[(df['customs_description'] == 'Ladies > Leather Jackets')]
# df = df[df['model'] != '5 pads set']

# temp_dispatched = df[(df['order_state'] == 'Order Dispatched') | (df['order_state'] == 'Order Refunded')]
# temp_refunded = df[df['order_state'] == 'Order Refunded']

# df['model'] = df['model'].fillna("(No assigned category)")
# df['colour'] = df['colour'].fillna("(No assigned colour)")
# df['attribute_summary'] = df['attribute_summary'].fillna("(No assigned size)")

# temp_dispatched = temp_dispatched.groupby(['customs_description', 'model', 'colour', 'attribute_summary']).sum()
# temp_dispatched.rename(columns={'quantity': 'Units Sold', 'price_inc': 'Total Revenue (£)'}, inplace=True)

# temp_refunded = temp_refunded.groupby(['customs_description', 'model', 'colour', 'attribute_summary']).sum()
# temp_refunded.rename(columns={'quantity': 'Units Refunded', 'price_inc': 'Total Refund (£)'}, inplace=True)

# temp_ladies = pd.concat([temp_dispatched, temp_refunded], axis=1)
# temp_ladies = temp_ladies[['Units Sold', 'Total Revenue (£)', 'Units Refunded', 'Total Refund (£)']]
# temp_ladies['Units Sold'] = temp_ladies['Units Sold'].fillna(0)
# temp_ladies['Total Revenue (£)'] = temp_ladies['Total Revenue (£)'].fillna(0)
# temp_ladies['Units Refunded'] = temp_ladies['Units Refunded'].fillna(0)
# temp_ladies['Total Refund (£)'] = temp_ladies['Total Refund (£)'].fillna(0)
# temp_ladies['Final Revenue (£)'] = temp_ladies['Total Revenue (£)'] - temp_ladies['Total Refund (£)']
# temp_ladies.loc['Total', :] = temp_ladies.sum(numeric_only=True).values
# temp_ladies['Units Sold'] = temp_ladies['Units Sold'].astype(int)
# temp_ladies['Units Refunded'] = temp_ladies['Units Refunded'].astype(int)
# temp_ladies['Total Revenue (£)'] = temp_ladies['Total Revenue (£)'].astype(int)
# temp_ladies['Total Refund (£)'] = temp_ladies['Total Refund (£)'].astype(int)
# temp_ladies['Final Revenue (£)'] = temp_ladies['Final Revenue (£)'].astype(int)

In [89]:
df = orig_df[(orig_df['date'] >= d1) & (orig_df['date'] <= d2)]
df = df[df['Channel'] == channel]

In [90]:
df = df[(df['Category'] == 'Mens > Leather Jackets')]

temp_dispatched = df[(df['order_state'] == 'Order Dispatched') | (df['order_state'] == 'Order Refunded')]
temp_dispatched_2 = df[(df['order_state'] == 'Order Dispatched') | (df['order_state'] == 'Order Refunded')]
temp_refunded = df[df['order_state'] == 'Order Refunded']
temp_refunded_2 = df[df['order_state'] == 'Order Refunded']

df['Model'] = df['Model'].fillna("(No assigned category)")
df['Colour'] = df['Colour'].fillna("(No assigned colour)")
df['Size'] = df['Size'].fillna("(No assigned size)")

temp_dispatched = temp_dispatched[['Category', 'Model', 'Colour', 'Size', 'quantity']]
temp_dispatched = temp_dispatched.groupby(['Category', 'Model', 'Colour', 'Size'])['quantity'].sum()
temp_dispatched = temp_dispatched.unstack(level=['Colour', 'Size'])
temp_dispatched = temp_dispatched.assign(Total=temp_dispatched.sum(1, min_count=2))
temp_dispatched = temp_dispatched.stack(level=['Colour', 'Size'], sort=False)
# temp_dispatched = temp_dispatched.unstack(level=['Size'])
# temp_dispatched = temp_dispatched.assign(Total=temp_dispatched.sum(1, min_count=2))
# temp_dispatched = temp_dispatched.stack(level=['Size'])
temp_dispatched = temp_dispatched.to_frame(name='quantity')
temp_dispatched.rename(columns={'quantity': 'Units Sold'}, inplace=True)

temp_dispatched_2 = temp_dispatched_2[['Category', 'Model', 'Colour', 'Size', 'price_inc']]
temp_dispatched_2 = temp_dispatched_2.groupby(['Category', 'Model', 'Colour', 'Size'])['price_inc'].sum()
temp_dispatched_2 = temp_dispatched_2.unstack(level=['Colour', 'Size'])
temp_dispatched_2 = temp_dispatched_2.assign(Total=temp_dispatched_2.sum(1, min_count=2))
temp_dispatched_2 = temp_dispatched_2.stack(level=['Colour', 'Size'], sort=False)
# temp_dispatched_2 = temp_dispatched_2.unstack(level=['Size'])
# temp_dispatched_2 = temp_dispatched_2.assign(Total=temp_dispatched_2.sum(1, min_count=2))
# temp_dispatched_2 = temp_dispatched_2.stack(level=['Size'])
temp_dispatched_2 = temp_dispatched_2.to_frame(name='price_inc')
temp_dispatched_2.rename(columns={'price_inc': 'Total Revenue (£)'}, inplace=True)

temp_dispatched = pd.concat([temp_dispatched, temp_dispatched_2], axis=1)



temp_refunded = temp_refunded[['Category', 'Model', 'Colour', 'Size', 'quantity']]
temp_refunded = temp_refunded.groupby(['Category', 'Model', 'Colour', 'Size'])['quantity'].sum()
temp_refunded = temp_refunded.unstack(level=['Colour', 'Size'])
temp_refunded = temp_refunded.assign(Total=temp_refunded.sum(1, min_count=2))
temp_refunded = temp_refunded.stack(level=['Colour', 'Size'], sort=False)
# temp_refunded = temp_refunded.unstack(level=['Size'])
# temp_refunded = temp_refunded.assign(Total=temp_refunded.sum(1, min_count=2))
# temp_refunded = temp_refunded.stack(level=['Size'])
temp_refunded = temp_refunded.to_frame(name='quantity')
temp_refunded.rename(columns={'quantity': 'Units Refunded'}, inplace=True)

temp_refunded_2 = temp_refunded_2[['Category', 'Model', 'Colour', 'Size', 'price_inc']]
temp_refunded_2 = temp_refunded_2.groupby(['Category', 'Model', 'Colour', 'Size'])['price_inc'].sum()
temp_refunded_2 = temp_refunded_2.unstack(level=['Colour', 'Size'])
temp_refunded_2 = temp_refunded_2.assign(Total=temp_refunded_2.sum(1, min_count=2))
temp_refunded_2 = temp_refunded_2.stack(level=['Colour', 'Size'], sort=False)
# temp_refunded_2 = temp_refunded_2.unstack(level=['Size'])
# temp_refunded_2 = temp_refunded_2.assign(Total=temp_refunded_2.sum(1, min_count=2))
# temp_refunded_2 = temp_refunded_2.stack(level=['Size'])
temp_refunded_2 = temp_refunded_2.to_frame(name='price_inc')
temp_refunded_2.rename(columns={'price_inc': 'Total Refund (£)'}, inplace=True)

temp_refunded = pd.concat([temp_refunded, temp_refunded_2], axis=1)

temp = pd.concat([temp_dispatched, temp_refunded], axis=1)

temp = temp[['Units Sold', 'Total Revenue (£)', 'Units Refunded', 'Total Refund (£)']]
temp['Units Sold'] = temp['Units Sold'].fillna(0)
temp['Total Revenue (£)'] = temp['Total Revenue (£)'].fillna(0)
temp['Units Refunded'] = temp['Units Refunded'].fillna(0)
temp['Total Refund (£)'] = temp['Total Refund (£)'].fillna(0)

df_total_sold = df[(df['order_state'] == 'Order Dispatched') | (df['order_state'] == 'Order Refunded')]
df_total_refund = df[df['order_state'] == 'Order Refunded']
total_list = [df_total_sold['quantity'].sum(), df_total_sold['price_inc'].sum(),
              df_total_refund['quantity'].sum(), df_total_refund['price_inc'].sum()]
temp.loc['Total', :] = total_list

temp['Final Revenue (£)'] = temp['Total Revenue (£)'] - temp['Total Refund (£)']
temp['Units Sold'] = temp['Units Sold'].astype(int)
temp['Units Refunded'] = temp['Units Refunded'].astype(int)
temp['Total Revenue (£)'] = temp['Total Revenue (£)'].astype(int)
temp['Total Refund (£)'] = temp['Total Refund (£)'].astype(int)
temp['Final Revenue (£)'] = temp['Final Revenue (£)'].astype(int)

In [91]:
# df = df[(df['customs_description'] == 'Mens > Leather Jackets')]

# temp_dispatched = df[(df['order_state'] == 'Order Dispatched') | (df['order_state'] == 'Order Refunded')]
# temp_refunded = df[df['order_state'] == 'Order Refunded']

# df['model'] = df['model'].fillna("(No assigned category)")
# df['colour'] = df['colour'].fillna("(No assigned colour)")
# df['attribute_summary'] = df['attribute_summary'].fillna("(No assigned size)")

# temp_dispatched = temp_dispatched.groupby(['customs_description', 'model', 'colour', 'attribute_summary']).sum()
# temp_dispatched.rename(columns={'quantity': 'Units Sold', 'price_inc': 'Total Revenue (£)'}, inplace=True)

# temp_refunded = temp_refunded.groupby(['customs_description', 'model', 'colour', 'attribute_summary']).sum()
# temp_refunded.rename(columns={'quantity': 'Units Refunded', 'price_inc': 'Total Refund (£)'}, inplace=True)

# temp = pd.concat([temp_dispatched, temp_refunded], axis=1)
# temp = temp[['Units Sold', 'Total Revenue (£)', 'Units Refunded', 'Total Refund (£)']]
# temp['Units Sold'] = temp['Units Sold'].fillna(0)
# temp['Total Revenue (£)'] = temp['Total Revenue (£)'].fillna(0)
# temp['Units Refunded'] = temp['Units Refunded'].fillna(0)
# temp['Total Refund (£)'] = temp['Total Refund (£)'].fillna(0)
# temp['Final Revenue (£)'] = temp['Total Revenue (£)'] - temp['Total Refund (£)']
# temp.loc['Total', :] = temp.sum(numeric_only=True).values
# temp['Units Sold'] = temp['Units Sold'].astype(int)
# temp['Units Refunded'] = temp['Units Refunded'].astype(int)
# temp['Total Revenue (£)'] = temp['Total Revenue (£)'].astype(int)
# temp['Total Refund (£)'] = temp['Total Refund (£)'].astype(int)
# temp['Final Revenue (£)'] = temp['Final Revenue (£)'].astype(int)

In [92]:
final = pd.concat([temp_ladies, temp])
# final.index=pd.MultiIndex.from_tuples([(x[0], x[1], x[2].replace('ZTotal', 'Total')) for x in final.index])
# final = final.unstack(level=['Colour', 'Size'])
# final = final.index.str.replace('ZTotal', 'Total')
# final = final.stack(level=['Colour', 'Size'])

In [93]:
final

                                                   Units Sold  \
Category                 Model        Colour Size
Ladies > Leather Jackets 1141         Beige  14             1
                                             16             1
                                             18             2
                                      Black  10             1
                                      Total                 5
...                                                       ...
Mens > Leather Jackets   samo         Total                 2
                         stefan biker Grey   XL             1
                         super bomber Cognac 2XL            1
                         winner       Orange S              1
Total                                                     133

                                                   Total Revenue (£)  \
Category                 Model        Colour Size
Ladies > Leather Jackets 1141         Beige  14                  129
                                             16                  129
                                             18                  258
                                      Black  10                  129
                                      Total                      645
...                                                              ...
Mens > Leather Jackets   samo         Total                      548
                         stefan biker Grey   XL                  159
                         super bomber Cognac 2XL                 175
                         winner       Orange S                   115
Total                                                          28210

                                                   Units Refunded  \
Category                 Model        Colour Size
Ladies > Leather Jackets 1141         Beige  14                 1
                                             16                 0
                                             18                 1
                                      Black  10                 0
                                      Total                     2
...                                                           ...
Mens > Leather Jackets   samo         Total                     0
                         stefan biker Grey   XL                 0
                         super bomber Cognac 2XL                0
                         winner       Orange S                  0
Total                                                          23

                                                   Total Refund (£)  \
Category                 Model        Colour Size
Ladies > Leather Jackets 1141         Beige  14                 129
                                             16                   0
                                             18                 129
                                      Black  10                   0
                                      Total                     258
...                                                             ...
Mens > Leather Jackets   samo         Total                       0
                         stefan biker Grey   XL                   0
                         super bomber Cognac 2XL                  0
                         winner       Orange S                    0
Total                                                          5164

                                                   Final Revenue (£)
Category                 Model        Colour Size
Ladies > Leather Jackets 1141         Beige  14                    0
                                             16                  129
                                             18                  129
                                      Black  10                  129
                                      Total                      387
...                                                              ...
Mens > Leather Jackets   samo         Total                      548
                         stefan biker Grey   XL                  159
                         super bomber Cognac 2XL                 175
                         winner       Orange S                   115
Total                                                          23046

[278 rows x 5 columns]

In [94]:
final.to_excel(f'{channel} - {month_abb} 2024 - Leather Jackets.xlsx')

In [95]:
# # Leather Company
# import matplotlib.pyplot as plt

# temp_dispatched = temp_dispatched[temp_dispatched['price_inc'] < 400]
# temp_refunded = temp_refunded[temp_refunded['price_inc'] < 400]

# fig, (ax1, ax2) = plt.subplots(1, 2, figsize=(10, 4))
# fig.suptitle('Leather Company - Ladies Leather Jackets')
# plt.figure(figsize=(20,6))
# bins = [109, 119, 129, 139, 149, 159, 169, 179]
# ax1.hist(temp_dispatched['price_inc'], bins=10, edgecolor="k")
# ax1.set_title('Sold')
# ax2.hist(temp_refunded['price_inc'], bins=10, edgecolor="k")
# ax2.set_title('Refunded')
# y_bins = [0, 10, 20, 30, 40, 50]
# ax1.set_yticks(y_bins)
# ax2.set_yticks(y_bins)
# # ax1.set_xticks(bins)
# # ax2.set_xticks(bins)
# plt.show()