In [86]:
import pandas as pd
import numpy as np

In [128]:
df1 = pd.read_csv('2024_feb_unduplicated_orders.csv')
df1['title'] = df1['title'].str.lstrip()
df1['title'] = df1['title'].str.rstrip()
print(df1.shape)

temp_df = pd.read_csv('product_feed.csv')
temp_df['PRODUCT TYPE'] = temp_df['PRODUCT TYPE'].str.replace('&gt;', '>')
temp_df['PRODUCT TYPE'] = temp_df['PRODUCT TYPE'].str.replace('&amp;', '&')
temp_df['PRODUCT TYPE'] = temp_df['PRODUCT TYPE'].str.replace('&#039;', "'")
temp_df['TITLE'] = temp_df['TITLE'].str.replace('&gt;', '>')
temp_df['TITLE'] = temp_df['TITLE'].str.replace('&amp;', '&')
temp_df['TITLE'] = temp_df['TITLE'].str.replace('&#039;', "'")
temp_df.rename(columns={'TITLE': 'title'}, inplace=True)
temp_stock_df = temp_df['title'].str.split('\(|\)', expand=True).iloc[:,[0,1]]
temp_df['title'] = temp_stock_df[0]
temp_df['title'] = temp_df['title'].str.lstrip()
temp_df['title'] = temp_df['title'].str.rstrip()
temp_df.drop_duplicates(subset=['title'], inplace=True)
temp_df = temp_df[['title', 'PRODUCT TYPE']]

<>:14: SyntaxWarning: invalid escape sequence '\('
<>:14: SyntaxWarning: invalid escape sequence '\('
C:\Users\retai\AppData\Local\Temp\ipykernel_9244\3309598788.py:14: SyntaxWarning: invalid escape sequence '\('
  temp_stock_df = temp_df['title'].str.split('\(|\)', expand=True).iloc[:,[0,1]]

(59185, 22)

In [129]:
df1['customs_description_old'] = df1['customs_description']

In [130]:
df1 = df1.merge(temp_df, on='title', how='left')
df1['customs_description'] = df1['PRODUCT TYPE']
df1.drop(['PRODUCT TYPE'], axis=1, inplace=True)
df1.shape

(59185, 23)

In [131]:
print(df1['customs_description'].isnull().sum())
df1['customs_description'] = df1['customs_description'].fillna(df1['customs_description_old'])
df1.drop(['customs_description_old'], axis=1, inplace=True)
print(df1['customs_description'].isnull().sum())

15438
1308

In [132]:
df1['customs_description'].value_counts()

customs_description
Mens > Leather Jackets > Biker Styles      4241
Ladies > Leather Jackets > Biker Styles    3622
Ladies > Handbags                          2960
January Sale 2021                          2786
Ladies > Deals for HER > Handbags          2685
                                           ...
Sheepskin & Fur > Ladies Fur Coats            3
Handbags > Saddle Bag                         2
Ladies                                        2
Valentine's Day 2023                          1
Laptop Messenger Bags                         1
Name: count, Length: 134, dtype: int64

In [133]:
df1['customs_description'] = df1['customs_description'].replace(np.NaN, 'No assigned cateogry')
print(df1['customs_description'].isnull().sum())

0

In [134]:
df2 = df1['customs_description'].str.split(' > ', expand=True)
df1.drop(['Category', 'F_Cat', 'S_Cat', 'T_Cat'], axis=1, inplace=True)
df2.columns = ['F_Cat', 'S_Cat', 'T_Cat']
df1 = df1.join(df2)
df1['Category'] = df1['F_Cat'] + ' > ' + df1['S_Cat']

In [135]:
df1.to_csv('2024_feb_unduplicated_orders fixed_categories.csv')

In [49]:
df1 = pd.read_csv('2024_feb_unduplicated_orders.csv')
df1['title'] = df1['title'].str.lstrip()
df1['title'] = df1['title'].str.rstrip()
df1.shape

(59185, 22)

In [50]:
df1_notnull = df1[df1['customs_description'].notnull()]
df1_null = df1[df1['customs_description'].isna()]
df1_notnull.shape, df1_null.shape, len(df1_null.isna())

((56557, 22), (2628, 22), 2628)

In [51]:
56557 + 2628

59185

In [52]:
temp_df = pd.read_csv('product_feed.csv')
temp_df['PRODUCT TYPE'] = temp_df['PRODUCT TYPE'].str.replace('&gt;', '>')
temp_df['PRODUCT TYPE'] = temp_df['PRODUCT TYPE'].str.replace('&amp;', '&')
temp_df['PRODUCT TYPE'] = temp_df['PRODUCT TYPE'].str.replace('&#039;', "'")
temp_df['TITLE'] = temp_df['TITLE'].str.replace('&gt;', '>')
temp_df['TITLE'] = temp_df['TITLE'].str.replace('&amp;', '&')
temp_df['TITLE'] = temp_df['TITLE'].str.replace('&#039;', "'")
temp_df.rename(columns={'TITLE': 'title'}, inplace=True)
temp_stock_df = temp_df['title'].str.split('\(|\)', expand=True).iloc[:,[0,1]]
temp_df['title'] = temp_stock_df[0]
temp_df['title'] = temp_df['title'].str.lstrip()
temp_df['title'] = temp_df['title'].str.rstrip()
temp_df.drop_duplicates(subset=['title'], inplace=True)
temp_df = temp_df[['title', 'PRODUCT TYPE']]

<>:9: SyntaxWarning: invalid escape sequence '\('
<>:9: SyntaxWarning: invalid escape sequence '\('
C:\Users\retai\AppData\Local\Temp\ipykernel_9244\526015662.py:9: SyntaxWarning: invalid escape sequence '\('
  temp_stock_df = temp_df['title'].str.split('\(|\)', expand=True).iloc[:,[0,1]]

In [53]:
# temp_df.applymap(list)['title'].apply(pd.Series).stack().unique()

In [54]:
df1_null = df1_null.merge(temp_df, on='title', how='left')
df1_null['customs_description'] = df1_null['PRODUCT TYPE']
df1_null.drop(['PRODUCT TYPE'], axis=1, inplace=True)
df1_null.shape

(2628, 22)

In [55]:
df1 = pd.concat([df1_notnull, df1_null], ignore_index=True)
df1.drop_duplicates(inplace=True)
df1.shape

(59185, 22)

In [56]:
df2 = df1['customs_description'].str.split(' > ', expand=True)
df1.drop(['Category', 'F_Cat', 'S_Cat', 'T_Cat'], axis=1, inplace=True)
df2.columns = ['F_Cat', 'S_Cat', 'T_Cat']
df1 = df1.join(df2)
df1['Category'] = df1['F_Cat'] + ' > ' + df1['S_Cat']

In [57]:
print(df1['customs_description'].isnull().sum())

1308

In [42]:
df1.to_csv('2024_feb_unduplicated_orders fixed_categories.csv')