In [42]:
import pandas as pd
import numpy as np

In [43]:
df_stock = pd.read_csv('stock_levels_11_apr.csv')
df_stock = df_stock[df_stock['stock'] > 5]
# df_stock['title'] = df_stock['parent_title']
df_stock['model'] = df_stock['model'].str.lstrip()
df_stock['model'] = df_stock['model'].str.rstrip()
df_stock['stock'] = df_stock['stock'].astype(int)
# df_stock = df_stock['model', 'stock']
df_stock = df_stock.groupby(['title', 'model'])['stock'].sum().reset_index().sort_values(by='stock', ascending=False)
df_stock.head(2)

                                           title    model  stock
499        Ladies Leather Gloves Black : NC 8914  NC 8914    798
781  Mens Leather Sheepskin Gloves Black: DB-705   db-705    627

In [44]:
df_stock.describe()

             stock
count  1161.000000
mean     34.255814
std      62.406489
min       6.000000
25%       8.000000
50%      13.000000
75%      30.000000
max     798.000000

In [45]:
df_stock.shape

(1161, 3)

In [46]:
df_orders = pd.read_csv("All orders - short custom description.csv")
df_orders = df_orders[df_orders['Channel'] == 'Leather Company']
df_orders = df_orders[df_orders['date'] > '2023-01-01']
df_orders.columns

C:\Users\retai\AppData\Local\Temp\ipykernel_16276\446335821.py:1: DtypeWarning: Columns (1,21) have mixed types. Specify dtype option on import or set low_memory=False.
  df_orders = pd.read_csv("All orders - short custom description.csv")

Index(['order_date', 'order_id', 'quantity', 'order_state', 'grand_total_inc',
       'reference', 'price_inc', 'date', 'Channel', 'title', 'line', 'model',
       'manufacturer_name', 'attribute_summary', 'customs_description',
       'colour', 'F_Cat', 'S_Cat', 'T_Cat', 'Category',
       'Order fees total amount', 'time'],
      dtype='object')

In [47]:
df_orders = pd.read_csv("All orders - short custom description.csv")
df_orders = df_orders[df_orders['Channel'] == 'Leather Company']
df_orders = df_orders[df_orders['date'] > '2023-01-01']
# df_orders['orders_title'] = df_orders['title']
df_orders['model'] = df_orders['model'].str.lstrip()
df_orders['model'] = df_orders['model'].str.rstrip()
df_orders = df_orders.groupby(['title', 'model'])['quantity'].sum().reset_index().sort_values(by='quantity', ascending=False)
df_orders.shape

C:\Users\retai\AppData\Local\Temp\ipykernel_16276\2997836646.py:1: DtypeWarning: Columns (1,21) have mixed types. Specify dtype option on import or set low_memory=False.
  df_orders = pd.read_csv("All orders - short custom description.csv")

(2893, 3)

In [48]:
result = pd.merge(df_orders, df_stock, on=["title", "model"], how="left")
result = result.dropna()
result['stock'] = result['stock'].astype(int)
# result = result[['stock_title', 'model', 'quantity', 'stock']]
result = result[(result['quantity'] > 4) & (result['stock'] > 4)].reset_index(drop=True).sort_values(by='title').reset_index(drop=True)
result

,title,model,quantity,stock
0,00029084,710,8,23
1,00048043,5995,20,7
2,12 Card RFID Protected Leather Purse Black: J-56,J-56,5,11
3,12 Card RFID Protected Leather Purse Wood Rose...,J-56,5,14
4,14 Card RFID Protected Large Leather Purse Bla...,s1,62,85
...,...,...,...,...
369,Womens Tab Small Zip Top Leather Cross Body Ba...,TAB,22,51
370,Womens Tab Small Zip Top Leather Cross Body Ba...,TAB,34,30
371,Woven Classic Large Leather Vintage Crossbody ...,D-72,5,12
372,Zip And Stitch Detail Leather Gloves Shiraz : 373,373,10,6
373,Zip Top Leather Cross Body Bag Navy: Ela 1498,ELA 1498,14,7

In [49]:
result.to_csv('ProductsSEObySalesStock.csv', index=False)