In [161]:
import pandas as pd
import numpy as np

In [162]:
df1 = pd.read_csv('2024_feb_unduplicated_orders.csv')
df1['title'] = df1['title'].str.lstrip()
df1['title'] = df1['title'].str.rstrip()
df1.shape

(58958, 22)

In [163]:
df1_notnull = df1[df1['customs_description'].notnull()]
df1_null = df1[df1['customs_description'].isna()]
df1_notnull.shape, df1_null.shape

((56366, 22), (2592, 22))

In [164]:
56366 + 2592

58958

In [165]:
temp_df = pd.read_csv('product_feed.csv')
temp_df['PRODUCT TYPE'] = temp_df['PRODUCT TYPE'].str.replace('&gt;', '>')
temp_df['PRODUCT TYPE'] = temp_df['PRODUCT TYPE'].str.replace('&amp;', '&')
temp_df.rename(columns={'TITLE': 'title'}, inplace=True)
temp_stock_df = temp_df['title'].str.split('\(|\)', expand=True).iloc[:,[0,1]]
temp_df['title'] = temp_stock_df[0]
temp_df['title'] = temp_df['title'].str.lstrip()
temp_df['title'] = temp_df['title'].str.rstrip()
temp_df.drop_duplicates(subset=['title'], inplace=True)
temp_df = temp_df[['title', 'PRODUCT TYPE']]

<>:5: SyntaxWarning: invalid escape sequence '\('
<>:5: SyntaxWarning: invalid escape sequence '\('
C:\Users\retai\AppData\Local\Temp\ipykernel_18084\158616370.py:5: SyntaxWarning: invalid escape sequence '\('
  temp_stock_df = temp_df['title'].str.split('\(|\)', expand=True).iloc[:,[0,1]]

In [166]:
df1_null = df1_null.merge(temp_df, on='title', how='left')
df1_null['customs_description'] = df1_null['PRODUCT TYPE']
df1_null.drop(['PRODUCT TYPE'], axis=1, inplace=True)
df1_null.shape

(2592, 22)

In [167]:
df1 = pd.concat([df1_notnull, df1_null])
df1.shape

(58958, 22)

In [168]:
df1['customs_description'].isnull().sum()

1618

In [169]:
df1.to_csv('2024_feb_unduplicated_orders fixed_categories.csv')

In [170]:
df1[df1['title'] == 'Mens Leather Hodded Jacket Black: Super Bomber']

,order_id,order_state,order_date,grand_total_inc,title,line,model,reference,quantity,price_inc,...,customs_description,date,time,day,fifo_quantity,F_Cat,S_Cat,T_Cat,Category,colour
822,70654,Order Dispatched,2023-11-23 23:59:52,269.000,Mens Leather Hodded Jacket Black: Super Bomber,83922,super bomber,4946510,1,269.000,...,Mens > Leather Jackets > Blouson & Casual Styles,2023-11-23,23:59:52,23,1,NaN,NaN,NaN,NaN,Black
837,70546,Order Dispatched,2023-11-23 02:54:27,298.333,Mens Leather Hodded Jacket Black: Super Bomber,83781,super bomber,4946504,1,165.833,...,Mens > Leather Jackets > Blouson & Casual Styles,2023-11-23,02:54:27,23,1,NaN,NaN,NaN,NaN,Black
1333,72860,Order Dispatched,2023-12-09 14:44:40,189.050,Mens Leather Hodded Jacket Black: Super Bomber,86661,super bomber,4946505,1,199.000,...,Mens > Leather Jackets > Blouson & Casual Styles,2023-12-09,14:44:40,9,1,NaN,NaN,NaN,NaN,Black
1415,72244,Order Dispatched,2023-12-05 16:12:08,199.000,Mens Leather Hodded Jacket Black: Super Bomber,85886,super bomber,4946504,1,199.000,...,Mens > Leather Jackets > Blouson & Casual Styles,2023-12-05,16:12:08,5,1,NaN,NaN,NaN,NaN,Black
1484,71636,Order Dispatched,2023-12-01 01:05:03,269.000,Mens Leather Hodded Jacket Black: Super Bomber,85149,super bomber,4946510,1,269.000,...,Mens > Leather Jackets > Blouson & Casual Styles,2023-12-01,01:05:03,1,1,NaN,NaN,NaN,NaN,Black
2469,76745,Order Incomplete,2024-01-28 12:48:16,190.833,Mens Leather Hodded Jacket Black: Super Bomber,91388,super bomber,4946503,1,165.833,...,Mens > Leather Jackets > Blouson & Casual Styles,2024-01-28,12:48:16,28,1,NaN,NaN,NaN,NaN,Black
2485,77687,Order Dispatched,2024-02-22 15:32:05,189.000,Mens Leather Hodded Jacket Black: Super Bomber,92548,super bomber,4946504,1,199.000,...,Mens > Leather Jackets > Blouson & Casual Styles,2024-02-22,15:32:05,22,1,NaN,NaN,NaN,NaN,Black
2491,77655,Order Dispatched,2024-02-21 20:29:09,190.825,Mens Leather Hodded Jacket Black: Super Bomber,92505,super bomber,4946506,1,165.830,...,Mens > Leather Jackets > Blouson & Casual Styles,2024-02-21,20:29:09,21,1,NaN,NaN,NaN,NaN,Black