In [1]:
import pandas as pd

df = pd.read_csv('stock_levels_12_feb.csv')

In [2]:
df.head()

,reference,ean,mpn,upc,product_id,parent_product_id,stock,total_sold,stock_cost_ex,stock_cost_inc,...,title,parent_title,parent_reference,attribute_summary,model,product_url,num_sold_period,avg_sold_period,weeks_cover,bundled
0,4530800,5.061000e+12,NaN,NaN,20109,6777,603,NaN,NaN,NaN,...,Ashwood Leather Crossbody Smart Phone Bag - Re...,Ashwood Leather Crossbody Smart Phone Bag - Re...,45308,Size: One Size,ph-2,ladies-c3/ashwood-leather-crossbody-smart-phon...,2,0.04,15662,N
1,4555300,5.061000e+12,NaN,NaN,20151,6795,595,NaN,NaN,NaN,...,Ashwood Zip Top Leather Cross Body Bag Black: ...,Ashwood Zip Top Leather Cross Body Bag Black: ...,45553,Size: One Size,63594,ladies-c3/ashwood-zip-top-leather-cross-body-b...,9,0.17,3437,N
2,2078000,NaN,NaN,NaN,14136,3923,510,NaN,NaN,NaN,...,Men's Leather Gloves Black : 711 C,Men's Leather Gloves Black : 711 C,20780,Size: S/M,711 C,gift-accessories-c8/mens-gloves-c37/mens-leath...,10,0.19,2652,N
3,2584100,NaN,NaN,NaN,10076,2645,446,NaN,NaN,NaN,...,Collonil Waterproofing And UV Protection : Wa...,Collonil Waterproofing And UV Protection : Wa...,25841,Size: One Size,COLLONIL WATERSTOP 100ML,gift-accessories-c8/cleaning-products-c40/coll...,13,0.25,1784,N
4,4555500,5.061000e+12,NaN,NaN,20154,6798,393,NaN,NaN,NaN,...,Ashwood Zip Top Leather Cross Body Bag Taupe: ...,Ashwood Zip Top Leather Cross Body Bag Taupe: ...,45555,Size: One Size,63594,ladies-c3/ashwood-zip-top-leather-cross-body-b...,1,0.02,20469,N

In [4]:
df[df['title'] == '00048268']

,reference,ean,mpn,upc,product_id,parent_product_id,stock,total_sold,stock_cost_ex,stock_cost_inc,...,title,parent_title,parent_reference,attribute_summary,model,product_url,num_sold_period,avg_sold_period,weeks_cover,bundled
10098,4826810,NaN,NaN,NaN,22105,7531,0,NaN,NaN,NaN,...,00048268,Ladies Leather Biker Jacket Beige: G-Celia22,48268,Size: 26,G-CELIA22,ladies-c3/leather-jackets-c9/ladies-leather-bi...,0,0.0,0,N
10268,4826811,NaN,NaN,NaN,24263,7531,0,NaN,NaN,NaN,...,00048268,Ladies Leather Biker Jacket Beige: G-Celia22,48268,Size: 28,G-CELIA22,ladies-c3/leather-jackets-c9/ladies-leather-bi...,0,0.0,0,N