In [1]:
import pandas as pd

In [24]:
df = pd.read_csv('unduplicated_orders.csv', parse_dates=['date'])
df = df[(df['order_state'] == 'Order Dispatched') | (df['order_state'] == 'Order Refunded')]

In [25]:
df.head(2)

,order_id,order_state,order_date,grand_total_inc,title,line,model,reference,quantity,price_inc,...,customs_description,date,time,day,fifo_quantity,F_Cat,S_Cat,T_Cat,Category,colour
0,27374,Order Refunded,2021-01-31 23:04:19,169.0,Womens Two-In-One Leather Hooded Jacket Black/...,32102,AWL-484,1449306,1,169.0,...,Ladies > Ladies Jackets & Coats,2021-01-31,23:04:19,31,1,Ladies,Ladies Jackets & Coats,NaN,Ladies > Ladies Jackets & Coats,Black
1,27373,Order Dispatched,2021-01-31 22:17:10,599.0,Mens Luxury Shearling Biker/ Flying Jacket Bro...,32101,P-55,3687705,1,599.0,...,January Sale 2021,2021-01-31,22:17:10,31,1,January Sale 2021,NaN,NaN,NaN,Brown

In [26]:
df['date'].dt.year.value_counts()

date
2021    16815
2023    16094
2022    15755
Name: count, dtype: int64

In [27]:
df[df['date'].dt.year == 2022]['price_inc'].sum()

1527360.6770000001

In [28]:
df[df['date'].dt.year == 2022]['quantity'].sum()

16161